//.loading {
//	position: absolute;
//	width: $small-width;
//	left: 50%;
//	margin-left: -$small-width/2;
//	min-height: 400px;
//	background: url(../../img/img_loading.gif) no-repeat center 30px;
//	background-color: #fff;
//	z-index: 9999;
////	@include red;
//}
#picwall {
	position: relative;
	margin: 0 auto;
	width: $small-width;
	ul {
		position: relative;
		//visibility: hidden;
	}
	li.item {
		float: left;
		width: 240px;
		height: 160px;
		cursor: pointer;
		//margin-right: -1px;
		margin-bottom: 1px;
		&:hover {
			-webkit-opacity: .7;
			-moz-opacity: .7;
			-ms-opacity: .7;
			-o-opacity: .7;
			opacity: .7;
		}
		&:nth-child(5n) {
			display: none;
		}
	}
	img {
		max-width: 100%;
		height:auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid $bg-color;
		// -webkit-border-radius: 2px;
		// -moz-border-radius: 2px;
		// -ms-border-radius: 2px;
		// -o-border-radius: 2px;
		// border-radius: 2px;
	}
}
@media screen and (min-width: 1400px){
		//.loading {
		//	width: 1210px;
		//	margin-left: -606px;
		//	min-height: 800px;
		//}
	#picwall {
		width: 1208px;
		li.item {
			width: 241px;
			height: 160px;
			overflow: hidden;
			&:nth-child(5n) {
				display: block;
			}
		}
	}
	// .item{width: 100%!important;}
}
