<div class="main-content">
	<div class="wrap5">
		<div class="sub-wrap">
			<a class="img-wrap">
				<img src="./img/wrap5_sub1_1.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/wrap5_sub1_2.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/wrap5_sub1_3.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/wrap5_sub1_4.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
		</div>
		<div class="sub-wrap">
			<a class="img-wrap">
				<img src="./img/wrap5_sub2_1.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/wrap5_sub2_2.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/wrap5_sub2_3.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/wrap5_sub2_4.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
		</div>
	</div>
</div>
