<!--
<div class="main-content">
	<div class="wrap">
		<div class="sub-wrap">
			<a class="img-wrap">
				<img src="./img/albumList/001.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/006.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/002.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/003.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/004.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
		</div>
		<div class="sub-wrap">
			<a class="img-wrap">
				<img src="./img/albumList/005.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/004.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/007.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/003.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/008.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
		</div>
		<div class="sub-wrap">
			<a class="img-wrap">
				<img src="./img/albumList/001.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/002.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/003.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/006.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
			<a class="img-wrap">
				<img src="./img/albumList/004.jpg">
				<em class="cover">
						<div class="content">
							<div class="icon"></div>
							<div class="title">雨神不下雨的星期三</div>
							<div class="date">2014/6/8</div>
						</div>
					</em>
			</a>
		</div>
	</div>
</div>
-->
