body {
    padding-top: 19px;
    background: url(../img/bodybg.png);
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", tahoma, arial, simsun, "\5B8B\4F53";
    font-size: 12px;
/*    color: #999*/
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
.lead {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}
@media (min-width: 768px) {
    .navbar {
        min-height: 40px;
    }
    .navbar-nav>li>a {
        font-size: 14px;
        padding-top: 11px;
        padding-bottom: 11px
    }
    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 42px;
        height: 42px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
        /* container屏幕重新适配 */
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1170px;
        /* container屏幕新增加适配 */
    }
}

.masthead {
    padding: 60px 0 80px;
    margin-bottom: 0;
    color: #fff
}

@media screen and (min-width: 768px) {
    .masthead {
        padding: 90px 0 110px
    }
}

.masthead h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .masthead h1 {
        font-size: 90px
    }
}

@media screen and (min-width: 992px) {
    .masthead h1 {
        font-size: 100px
    }
}

.masthead h2 {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.25
}

@media screen and (min-width: 768px) {
    .masthead h2 {
        font-size: 24px
    }
}

@media screen and (min-width: 992px) {
    .masthead h2 {
        font-size: 30px
    }
}

.masthead p {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25
}

.masthead .masthead-button-links {
    margin-top: 30px
}

.masthead-links {
    margin: 0;
    padding: 0;
    list-style: none
}

.masthead-links li {
    display: inline;
    padding: 0 10px;
    color: rgba(255, 255, 255, .25)
}

.masthead-links li a:hover {
    color: #fff
}

.subhead {
    text-align: center;
    border-bottom: 1px solid #ddd
}

@media screen and (min-width: 768px) {
    .subhead {
        text-align: left
    }
}

.subhead h1 {
    font-size: 60px
}

.subhead p {
    margin-bottom: 20px
}

@media screen and (min-width: 768px) {
    .subhead p {
        text-align: left
    }
}

.btn-primary.btn-shadow {
    -webkit-box-shadow: inset 0 -4px 0 #2a6496;
    box-shadow: inset 0 -4px 0 #2a6496;
    border: 0;
    color: #fff
}

.btn-lg.btn-shadow {
    padding: 13px 35px 17px
}

.bc-social {
    padding: 15px 0;
    margin-top: 11px;
    text-align: center;
    background-color:#f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
/*    background-image: url(../img/bg-pattern.png)*/
    /* CSS3设置阴影*/
/*
    -moz-box-shadow: 0px 10px 30px 0px #999 inset;
    -webkit-box-shadow: 0px 10px 30px 0px #999 inset;
    box-shadow: 0px 1px 1px 0px #c6bfbf ;
*/
}

.bc-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    color: #555;
}

.bc-social-buttons li {
    display: inline-block;
    line-height: 1;
    color: #555
}

.bc-social-buttons li .fa {
    font-size: 18px;
    margin-right: 3px
}

.bc-social-buttons li .fa-weibo {
    font-size: 20px
}

.bc-social-buttons li a {
    color: #555
}

.bc-social-buttons li.social-renren a:hover {
    color: #428bca
}

.bc-social-buttons li.social-wechat a:hover {
    color: #1e9127
}

.bc-social-buttons li.social-weibo a:hover {
    color: #d9534f
}

.bc-social-buttons>li+li:before {
    padding: 0 10px;
    color: #ccc;
    content: "|"
}

.projects .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 310px;
    margin-bottom: 30px;
    border-radius: 0;
    /* CSS3设置阴影*/
/*
    -moz-box-shadow: 5px 5px 5px 0px #bcb8b8;
    -webkit-box-shadow: 5px 5px 5px 0px #bcb8b8;
    box-shadow: 5px 5px 5px 0px #bcb8b8;
*/
}

.projects .thumbnail .caption {
    height: 50px;
    overflow-y: hidden;
    color: #555
}

.projects .thumbnail .caption a:hover,
.projects .thumbnail .caption a:focus {
    text-decoration: none
}

.projects .thumbnail img {
    max-width: 100%;
    height: auto
}

.projects-header {
    width: 60%;
    text-align: center;
    margin: 60px 0 10px;
    font-weight: 200;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.projects-header h2 {
    font-size: 30px;
    letter-spacing: -1px
}

@media screen and (min-width: 768px) {
    .projects-header h2 {
        font-size: 32px
        /* 原42px */
    }
}

.nav-sub {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 70px;
    border-top: 1px solid #eee
}

.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px
}

.footer a {
    color: #777
}

.footer-top .about>div {
    height: 110px;
    margin-bottom: 10px
}

.footer-top .about>div h4 {
    color: #563d7c;
    font-size: 16px
}

.footer-bottom {
    font-size: 13px
}

.footer-bottom ul>li {
    padding: 0
}

.footer-bottom ul>li+li:before {
    padding: 0 10px;
    color: #ccc;
    content: "|"
}

#scrollUp {
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8
}

#scrollUp:hover {
    background-color: #333
}

@media screen and (min-width: 992px) {
    #scrollUp {
        bottom: 100px
    }
}

.bc-sidebar {
    margin-top: 30px
}

.bc-sidebar>ul>li>a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5
}

.excerpt-list {
    margin-top: 60px
}

.excerpt {
    min-height: 120px;
    border: 1px solid #eee;
    position: relative;
    margin-bottom: 10px;
    padding: 20px 20px 20px 24px
}

.excerpt-title {
    font-size: 24px;
    margin-top: 0
}

.excerpt-title a {
    color: #555
}

.excerpt-title a:hover,
.excerpt-title a:active {
    color: #3071a9
}

.excerpt-meta {
    position: absolute;
    bottom: 12px
}

.excerpt-tags {
    color: #777
}

.excerpt-tags .glyphicon {
    position: relative;
    top: 2px;
    color: #eee
}

.excerpt-tags a,
.excerpt-tags span {
    color: #777;
    font-size: 12px
}

.post {
    position: relative;
    margin-top: 60px;
    max-width: 680px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.post-header h1,
.post-header h2 {
    font-size: 32px;
    margin: 0 0 45px;
    position: relative;
    text-align: center
}

@media (min-width: 768px) {
    .post-header h1,
    .post-header h2 {
        font-size: 36px
    }
}

.post-header h1:after,
.post-header h2:after {
    border-top: 1px solid #e5e5e5;
    bottom: 0;
    content: "";
    left: 50%;
    margin: 0 0 0 -30%;
    position: absolute;
    width: 60%
}

.post-header h1 a,
.post-header h2 a {
    color: #363636;
    display: block;
    padding: 65px 0 20px;
    position: relative
}

.post-header h1 a:hover,
.post-header h2 a:hover {
    color: #428bca
}

.post-header h1 a:before,
.post-header h2 a:before {
    border-top: 1px solid #e5e5e5;
    bottom: -4px;
    content: "";
    left: 50%;
    margin: 0 0 0 -27%;
    position: absolute;
    width: 60%
}

.post-header h1 a:after,
.post-header h2 a:after {
    border-top: 1px solid #e5e5e5;
    bottom: -3px;
    content: "";
    left: 50%;
    margin: 0 0 0 -28%;
    position: absolute;
    width: 60%
}

@media (min-width: 768px) {
    .post-header h1 a,
    .post-header h2 a {
        padding-left: 65px;
        padding-right: 65px
    }
}

.post-content {
    font-size: 16px;
    line-height: 1.8;
    padding-top: 20px;
    padding-bottom: 20px
}

.post-content p,
.post-content pre,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content form,
.post-content hr,
.post-content table,
.post-content blockquote {
    margin-bottom: 1.8em
}

.post-content blockquote {
    font-size: 16px
}

.post-content pre {
    margin-top: -20px
}

.post-content li>p {
    margin-bottom: 5px
}

.post-content img,
.post-content video,
.post-content embed,
.post-content iframe {
    max-width: 100%
}

.post-content img {
    height: auto
}

article.page {
    margin-top: 0;
    max-width: none
}

article.page .post-content {
    padding-top: 0
}

article.page .post-content h2 {
    font-size: 36px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}

.rowbgf {
  background-color: white;
}

.rowbgf {
    background-color: white;
}

/* new footer csss */
footer {
    margin-top: 50px;
    height: 170px;
}
.separator {
    background: rgba(0, 0, 0, .08);
    height: 1px;
    margin-top: 40px;
    margin-bottom: 50px;
}
footer .btn {
    background: rgba(0, 0, 0, .2);
    border: 0;
    text-shadow: none
}

footer h1 {
    font-size: 15px;
    margin-bottom: 10px;
/*    text-transform: uppercase;*/
/*    font-weight: 600;*/
    color: rgba(255, 255, 255, .8);
    letter-spacing: 1px;
}

footer p {
    margin-bottom: 10px;
    line-height: 22px
}

footer a {
    color: rgba(255, 255, 255, .4);
    -webkit-transition: color ease .2s;
    -moz-transition: color ease .2s;
    -ms-transition: color ease .2s;
    transition: color ease .2s;
    text-decoration: none
}

footer a:hover {
    color: rgba(255, 255, 255, .5);
    text-decoration: none
}

footer a.social {
    background: rgba(0, 0, 0, .2);
    display: inline-block;
    font-family: "Ionicons";
    color: rgba(255, 255, 255, .92);
    font-size: 22px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    margin-right: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3)
}

footer a.social:hover {
    color: rgba(255, 255, 255, 1)
}

footer .separator {
    background: rgba(255, 255, 255, .15);
    height: 1px;
    margin-top: 6px;
    margin-bottom: 32px;
}

footer .copyright {
    margin-top: -22px;
    font-size: 12px;
    color: rgba(255, 255, 255, .6);
    letter-spacing: .4px;
}


footer .footer-notes {
    text-align: center
}

footer .footer-notes>div {
    margin-bottom: 30px
}

@media(min-width:768px) {

    footer .footer-notes {
        text-align: left
    }
    footer .footer-notes>div {
        margin-bottom: 0
    }
}
.text-right {
    text-align: right;
}
footer .text {
    font-size: 13px;
}
/* 中间内容渐变色背景 */
/*
section.gradient {
    background: #f3f7fb;
    background: -ms-linear-gradient(top, #f3f7fb 0, #fdfdfe 100%);
    background: linear-gradient(#f3f7fb, #fdfdfe);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f3f7fb', endColorstr='#fdfdfe', GradientType=0);
    border-top: 1px solid #dbdee1
}
*/
section > div > h2,
section > div > p {
    color:black;
}
/* 作品展示外部边框 */
.showboxer {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 25px;
    margin-left: 5px;
    border: 10px solid #999;
    /* CSS3设置阴影*/
/*
    -moz-box-shadow: 0px 10px 30px 0px #999 inset;
    -webkit-box-shadow: 0px 10px 30px 0px #999 inset;
    box-shadow: 0 -3px 5px 0px #999,
                3px 0 5px 0px #999,
                0 3px 5px 0px #999,
                -3px 0 5px 0px #999;
*/
}
.rowboxer {
    margin-left: 15px;
    margin-right: 15px;
}
/* 作品速览 */
.quicksee {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-item {
    padding: 2px;
    border: 1px solid #dce2e6;
}
.portfolio-item:hover {
    border: 2px solid #e6ba42;
}
#change {
    padding: 0;
    border: 4px solid #fff;
}
.quickseeheader {
    margin-top: 20px;
    margin-right: 15px;
    float: right;
    font-size: 18px;
}
.quickseetext {
    margin-top: 20px;
    margin-right: 15px;
    float: right;
    font-size: 12px;
}
.imgheader {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    zoom: .5;
    -moz-transform:scale(0.5);
/*    float:left;display:inline;*/
}
.footertitle {
    font-size: 23px;
}
.footersubtitle {
    font-size: 18px;
}
/* 手机浏览器字体大小适配 */
@media (max-width: 500px) {
    .bc-social {
        zoom: .7;
        -moz-transform:scale(0.7);
    }
    .imgheader {
        margin-top: 55px;
        margin-bottom: 0;
        zoom: .3;
        -moz-transform:scale(0.3);
    }
    .rowspace {
        margin-top: 14px;
    }
}
@media (max-width: 767px) {
    .bc-social {
        zoom: .8
        -moz-transform:scale(0.8);
    }
    .imgheader {
        margin-top: 55px;
        margin-bottom: 0;
        zoom: .4;
        -moz-transform:scale(0.4);
    }
    footer .footer-notes>div {
    margin-bottom: 2px
    }
    .footertitle {
    font-size: 18px;
    }
    .footersubtitle {
        font-size: 16px;
    }
    footer {
    margin-top: 50px;
    height: 140px;
}
/*
    .img-responsive,
    .thumbnail > img,
    .thumbnail a > img,
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      clip: rect(0px 2000px 1200px 1000px);
      width: 100%;
      height: 100%;
    }
*/
}
