<nav>
	<div class="nav-top">
		<div class="nav-top-detail">
			<ul class="left">
				<li>网易摄影</li>
				<li>POCO摄影</li>
				<li><a href="http://tuchong.com/" target="_blank">图虫网</a></li>
				<li>旅游攻略</li>
			</ul>
			<ul class="right">
				<li>微博账号</li>
				<li>微信公众号</li>
				<i class="i-mobile"></i>
				<li class="mobile">手机版网页</li>
				<li>友情链接</li>
			</ul>
		</div>
	</div>
	<div class="nav-header">
		<div class="content">
			<img src="./img/logo_name.png" alt="" width="203.2" height="30">
			<div class="search-bar">
				<input class="search-input">
				<a class="search-btn">搜全站</a>
			</div>
		</div>
	</div>
	<div class="nav-bar">
		<div class="nav-bar-menu">
			<a href="/"><span class="left">首页</span></a>
			<span class="left active">人像写真</span>
			<span class="left">风光摄影</span>
			<span class="left">生活随拍</span>
			<span class="left">人生行者</span>
			<span class="right"><i></i>关于我们</span>
		</div>
	</div>
	<div class="nav-bar-layout">
		<div class="category">
			<ul class="people">
				<li><a href=""><i>环境</i></a><a href=""><i>妆面</i></a></li>
				<li><a href=""><i>黑白</i></a><a href=""><i>胶片</i></a></li>
				<li><a href=""><i>情绪</i></a><a href=""><i>重曝</i></a></li>
			</ul>
			<ul class="life">
				<li><a href=""><i>建筑</i></a><a href=""><i>自然</i></a></li>
				<li><a href=""><i>动物</i></a><a href=""><i>其他</i></a></li>
			</ul>
			<ul class="film">
				<li><a href=""><i>街拍</i></a><a href=""><i>人文</i></a></li>
				<li><a href=""><i>概念</i></a><a href=""><i>其他</i></a></li>
			</ul>
			<ul class="eat">
				<li><a href=""><i>生活感悟</i></a></li>
				<li><a href=""><i>旅游日记</i></a></li>
				<li><a href=""><i>阅书笔记</i></a></li>
			</ul>
			<ul class="about">
				<li><a href=""><i>简介</i></a></li>
				<li><a href=""><i>印象派</i></a></li>
				<li><a href=""><i>爱心公益</i></a></li>
			</ul>
		</div>
	</div>
</nav>


<script>
	$(function () {

		$('.nav li').click(function () {
			$("li").removeAttr("class");
			$(this).addClass('active')
		});
		$('.search-bar').focusin(function () {
			$(this).find('.search-btn').addClass('search-btn-foucs')
		});
		$('.search-bar').focusout(function () {
			$(this).find('.search-btn').removeClass('search-btn-foucs')
		});

		$('.nav-bar-menu span').hover(
			function () {
				$('.nav-bar-layout').show();
				$(this).index() !== 0 && $('.category ul').eq($(this).index() - 1).addClass('ul-active')
			},
			function () {
				$('.nav-bar-layout ul').removeClass('ul-active');
				$('.nav-bar-layout').hide();
				$('.nav-bar-layout').hover(
					function () {
						$('.nav-bar-layout').show();
					},
					function () {
						$('.nav-bar-layout').hide();
					}
				);
			});
		$('.category ul').hover(
			function () {
				$(this).addClass('ul-active')
				$('.nav-bar-menu span').eq($(this).index() + 1).addClass('span-hover');
			},
			function () {
				$(this).removeClass('ul-active')
				$('.nav-bar-menu span').eq($(this).index() + 1).removeClass('span-hover');
			}
		);
		$('.search-btn').click(function () {
			alert('啊，这只程序猿好像还没来得及写搜索功能-_-!');
		})
	});
</script>
