// 页面颜色
$bg-color: #e1ebed;
$main-color: #1fb495;
$indicator: #8b8d8d;
$album-hover: #25bb9d;
$grey: #f7f7f7;
// 页面颜色
$bg-color: #e1ebed;
$bg-color-less: #ecf4f5;
$main-color: #1fb495;
$main-color-bottom: #19b494;
$main-color-hover: #38c9ab;
$indicator: #8b8d8d;
$album-hover: #25bb9d;
$grey: #f7f7f7;
$green: #5eb22d;
$green-bottom: #53a424;
$album-classify-color: rgba(31, 180, 149, .8);
// 大小屏幕适配
$large-width: 1205px;
$small-width: 960px;
$album-classify-width: 200px;
