@media screen and (min-width: 1400px) {
	// 第1部分：导航加背景图
	.wrap1 {
		.album-category {
			margin-left: -$large-width/2;
		}
		.slider {
			div.flexslider {
				ul.slides li {
					span {
						width: $large-width;
					}
				}
			}
		}
		.slides-control {
			.content {
				width: $large-width;
			}
		}
	}
	.wrap3 {
		.sub-wrap {
			top: -95px;
			.logo {
				transform: scale(.8);
				-webkit-transform: scale(.8);
			}
			.text {
				font-size: 18px;
			}
		}
	}
}
