@media screen and (min-width: 1400px) {
	// 第1部分：导航加背景图
	.wrap1 {
		.album-category {
			margin-left: -$large-width/2;
		}
		.slider {
			div.flexslider {
				height: 482px;
				ul.slides li {
					span {
						width: $large-width;
					}
				}
			}
		}
		.slides-control {
			.content {
				width: $large-width;
			}
		}
	}
	.category {
		top: -502px;
		.layout {
			width: $large-width;
			margin-left: -$large-width/2;
		}
	}
	.album-category {
		height: 468px;
		li {
			height: 78px;
			.title {
				padding-top: 18px;
			}
			.tag {
				span {
					padding-bottom: 17px;
				}
			}
		}
	}
	.album-category-detail {
		height: 468px;
	}
	.wrap2 {
		& > div {
			width: 1252px;
			margin-left: -$large-width/2;
			.nav-category {
				width: $large-width - 2px;
				a.more {
					margin-left: 1015px;
				}
			}
			ul {
				height: 475px;
				li {
					padding: 8px 51px 16px 0;
				}
			}
		}
	}
	.wrap3 {
		.sub-wrap {
			top: -95px;
			.logo {
				transform: scale(.8);
				-webkit-transform: scale(.8);
			}
			.text {
				font-size: 18px;
			}
		}
	}
}
