html,
body {
	height: 100%;
	font-family: "Microsoft YaHei";
	background-color: $bg-color;
}

.container {
	width: 100%;
	height: 100%;
}

// 第1部分：导航加背景图
.wrap1 {
	width: 100%;
//	border-bottom: 2px solid #ddd;
//	box-shadow: 0 2px 2px rgba(0,0,0,.1);
	.slides {
		width: 100%;
		background-color: #273625;
		.slides-img {
			position: relative;
			background: url(../img/slides1.jpg) no-repeat center center;
			width: $small-width;
			height: 474px;
		}
	}
	.album-category {
		width: $album-category-width - 4px;
		height: 468px;
		position: relative;
		left: 50%;
		margin-left: -$small-width/2;
		background-color: $album-category-color;
		border: 1px solid #29a98f;
		border-top: 1px solid $main-color;
		padding: 2px;
		li {
			width: $album-category-width - 31px;
			height: 78px;
			padding-left: 15px;
			padding-right: 15px;
//			overflow: hidden;
			a{color: #fff;}
			&:hover {
				background-color: #fff;
				a{color: #656565;}
				.tag {border-bottom: 1px $album-category-color solid;}
			}
			.title {
//				border: 1px #f00 solid;
				box-sizing: content-box;
				font-size: 15px;
				font-weight: bold;
				vertical-align: top;
				padding-top: 18px;
				padding-bottom: 5px;
				a:hover {
				  	color: $main-color;
					border-bottom: 2px $main-color solid;
				}
			}
			.tag {
				margin-top: 5px;
				margin-bottom: 5px;
				border-bottom: 1px #fff dotted;
				cursor: default;
				span {
					padding: 3px;
					padding-bottom: 17px;
				}
				a:hover {
				  	color: $main-color;
					border-bottom: 2px $main-color solid;
				}
			}
			&:last-child {
				.tag {
					border-bottom: 0px #fff dotted;
				}
			}
		}
	}

	.album-category-detail {
		position: absolute;
		top: 0;
		left: 202px;
		width: 500px;
		height: 472px;
		background-color: #fff;

	}
	.slides-control {
		width: 100%;
		background-color: #f0f0f0;
		//		background-color: #251900;
		border-bottom: 1px solid #ddd;
		.content {
			width: $small-width;
			height: 84px;
			margin: 0 auto;
			overflow: hidden;
			span {
				position: relative;
				display: inline-block;
				background: url(../img/slides_control.png) no-repeat 9999px 9999px;
				height: 80px;
				width: 14px;
				top: 12px;
				cursor: pointer;
			}
			span.j-left {
				float: left;
				background-position: 0 -69px;
				&:hover {
					background-position: -53px -69px;
				}
			}
			span.j-right {
				float: right;
				background-position: -28px -69px;
				&:hover {
					background-position: -78px -69px;
				}
			}
			div {
				//				border: 1px solid blue;
				float: left;
				overflow: hidden;
				width: 932px;
				height: 84px;
				box-sizing: border-box;
				text-align: center;
				padding-top: 7px;
				a {
					box-sizing: border-box;
					display: inline-block;
					border: 2px solid #f0f0f0;
					width: 170px;
					height: 70px;
					overflow: hidden;
					margin: auto 4px;
					img {
						opacity: .2;
					}
					&:hover,
					&.active {
						border: 2px solid $main-color;
						img {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

// 第2部分：首页照片预览
.wrap2 {
	width: 100%;
	height: 1900px;
	background-color: $bg-color;
	font-size: 20px;
	& > div {
		position: relative;
		width: 1003px;
		left: 50%;
		margin-left: -480px;
		margin-top: 80px;
		//		border-bottom: 1px solid red;
		//		border-top: 1px solid red;
		padding-top: 80px;
		overflow: hidden;
		.nav-category {
			position: absolute;
			top: 0;
			width: $small-width;
			height: 35px;
			background-color: #f3f3f3;
			border: 1px solid #ddd;
			border-radius: 1px;
			span.name {
				display: inline-block;
				width: 120px;
				height: 35px;
				font-size: 16px;
				line-height: 35px;
				text-align: center;
				font-weight: bolder;
				background-color: $main-color;
				border-bottom-left-radius: 1px;
				border-top-left-radius: 1px;
				color: #fff;
				&:hover {
					background-color: $main-color-hover;
					cursor: default;
				}
			}
			a.more {
				position: relative;
				display: inline-block;
				margin-left: 770px;
				top: -1px;
				width: 50px;
				height: 18px;
				line-height: 18px;
				text-align: center;
				font-size: 12px;
				//				border: 1px solid $main-color;
				color: $main-color;
				&:hover {
					background-color: $main-color-hover;
					border: 1px solid $main-color-hover;
					border-radius: 12px;
					color: #fff;
				}
			}
		}
		ul {
			li {
				float: left;
				width: 157.6px;
				height: 226px;
				padding: 0 43px 13px 0;
				//				border: 1px solid blue;
				div.album-wrap {
					width: 155px;
					//					border: 1px solid yellow;
					font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
					.album-frame {
						position: relative;
						width: 155px;
						height: 155px;
						background: url(../img/album_frame.png) no-repeat 0 0;
						padding: 1px 0 0 1px;
						background-position: -25px -209px;
						.count {
							position: absolute;
							right: 15px;
							bottom: 15px;
							height: 22px;
							line-height: 22px;
							color: #fff;
							-webkit-border-radius: 3px;
							border-radius: 3px;
							padding: 0 11px;
							cursor: pointer;
							vertical-align: middle;
							background: url(../img/count_bg.png) repeat-x 0 0;
							_background: #555;
						}
					} // album-frame
					.album-detail {
						.album-title {
							margin-top: 6px;
							color: #555;
						}
						.album-date {
							margin-top: 4px;
							width: 155px;
							white-space: nowrap;
							color: #888;
							cursor: default;
						}
					}
				}
			}
		}
	}
}

// 第6部分：二维码
.wrap6 {
	position: relative;
	width: 100%;
	&:before {
		content: "";
		display: inline-block;
		padding-bottom: 12%;
		width: 0;
	}
	background-color: #fff;
	.sub-wrap {
		position: relative;
		margin: 0 auto;
		width: 380px;
		height: 300px;
		text-align: center;
		top: -118px;
		.logo {
			width: 111px;
			height: 73px;
			background: url(../img/sprite.png) no-repeat;
			margin: 0 auto;
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
		}
		.text {
			margin-top: 72px;
			margin-bottom: 45px;
			font-size: 20px;
			font-family: "FangSong"
		}
		.QR-code {
			width: 285px;
			height: 108px;
			background: url(../img/sprite.png) no-repeat 0 -159px;
			margin: 0 auto;
		}
		.QR-text {
			font-family: "FangSong";
			font-size: 14px;
			span {
				margin: 5px;
			}
		}
	}
	.line-bt {
		position: absolute;
		bottom: 0;
		width: 100%;
		&:before {
			content: "";
			display: inline-block;
			padding-bottom: 0.78%;
			width: 0;
		}
		background-color: $grey;
	}
}

// 媒体查询
@media screen and (max-width:1400px) {
	.wrap6 {
		.sub-wrap {
			top: -95px;
			.logo {
				transform: scale(.8);
				-webkit-transform: scale(.8);
			}
			.text {
				font-size: 18px;
			}
		}
	}
}
