$nav-bar-layout-height: 148px;
nav {
	position: relative;
	width: 100%;
	.nav-top {
		height: 36px;
		//background-color: $bg-color-less;
		//			background-color: #edf0ef;
		background-color: #f6f6f6;
		font-family: "Microsoft YaHei";
		.nav-top-detail {
			//				border: 1px solid red;
			//				box-sizing: border-box;
			position: relative;
			width: $small-width;
			height: 36px;
			margin: 0 auto;
			ul,
			li {
				display: inline-block;
				cursor: pointer;
				color: #282828;
				overflow: hidden;
				//					box-sizing: content-box;
			}
			li {
				padding: 0 10px;
				margin-top: 11px;
				//					border: 1px solid blue;
				//					box-sizing: border-box;
			}
			.left {
				float: left;
				margin-left: -6px;
				li {
					padding-left: 8px;
					border-left: 2px solid #ebebeb;
					margin-left: -2px;
				}
			}
			.right {
				float: right;
				position: relative;
				margin-right: -9px;
				li {
					padding-left: 8px;
					border-left: 2px solid #ebebeb;
					margin-left: -2px;
					&.mobile {
						padding-left: 25px;
					}
				}
				.i-mobile {
					display: inline-block;
					background: url(../img/top_icons.png) no-repeat;
					width: 11px;
					height: 14px;
					background-position: -20px -40px;
					margin-right: 5px;
					margin-top: 2px;
					position: absolute;
					top: 8px;
					left: 160px;
					background-color: #f6f6f6;
				}
			}
		}
	}
	.nav-header {
		height: 70px;
		background-color: #fff;
		//			background: url(../img/nav.png);
		em {
			display: inline-block;
			float: left;
			width: 58px;
			height: 34px;
			background: url(../img/sprite.png) no-repeat -135px -81px;
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
			margin-top: 16px;
		}
		.content {
			position: relative;
			width: $small-width;
			margin: 0 auto;
			img {
				position: relative;
				top: 20px;
			}
			.search-bar {
				display: inline-block;
				float: right;
				position: relative;
				margin-top: 15px;
				input {
					padding-right: 83px;
					width: 309px;
					height: 18px;
					font-size: 14px;
					padding: 10px 66px 10px 10px;
					border: 1px solid #e3e3e3;
					border-top-right-radius: 2px;
					border-bottom-right-radius: 2px;
				}
				input:focus {
					border: 1px solid $main-color;
				}
				.search-btn {
					position: absolute;
					box-sizing: border-box;
					top: 0;
					right: 0;
					width: 70px;
					height: 40px;
					cursor: pointer;
					text-align: center;
					line-height: 40px;
					border: 1px solid #e3e3e3;
					color: #999;
					border-top-right-radius: 2px;
					border-bottom-right-radius: 2px;
					&:hover {
						background-color: $main-color-hover;
						color: #fff;
					}
				}
				.search-btn-foucs {
					background-color: $main-color;
					border: 1px solid $main-color-hover;
					color: #fff;
				}
			}
		}
	}
	.nav-bar {
		position: relative;
		background-color: $main-color;
		border-bottom: 1px solid $main-color-bottom;
		height: 39px;
		line-height: 40px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
		-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
		.nav-bar-menu {
			width: $small-width;
			margin: 0 auto;
			font-size: 16px;
			overflow: hidden;
			span {
				display: inline-block;
				height: 40px;
				padding: 0 25px;
				line-height: 40px;
				border-right: 1px solid #29a98f;
				color: #fff;
				&.left {
					float: left;
				}
				&.right {
					float: right;
					margin-right: 0;
					border-left: 1px solid #29a98f;
					i {
						display: inline-block;
						width: 16px;
						height: 16px;
						margin-right: 8px;
						position: relative;
						top: 2px;
						background: url(../img/ren_icon.png) no-repeat;
					}
				}
			}
			.active {
				background-color: $main-color-hover;
			}
			span:first-child {
				border-left: 1px solid #29a98f;
			}
			span:hover {
				cursor: pointer;
				background-color: $main-color-hover;
			}
			span.span-hover {
				cursor: pointer;
				background-color: $main-color-hover;
			}
		} // nav-bar-menu
	} //nav-bar
	.nav-bar-layout {
		display: none;
		position: absolute;
		z-index: 999999;
		top: 146px;
		height: $nav-bar-layout-height;
		width: 100%;
		background-color: #f1f1f1;
		background-color: rgba(241, 241, 241, 0.7);
		transition: all .2s ease-in;
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		.category {
			width: $small-width;
			position: relative;
			margin: 0 auto;
			ul {
				display: inline-block;
				float: left;
				width: 114px;
				height: $nav-bar-layout-height;
				border-right: 1px solid #acadad;
				vertical-align: top;
				&:first-child {
					margin-left: 83px;
					border-left: 1px solid #acadad;
				}
				&:last-child {
					position: absolute;
					right: 0;
					width: 138px;
					border-left: 1px solid #acadad;
					border-right: 1px solid #acadad;
					li {
						width: 138px;
						a {
//							width: 138px;
						}
					}
				}
				li {
					height: 30px;
					width: 114px;
					text-align: center;
					a {
						line-height: 21px;
						font-size: 14px;
						display: inline-block;
						i {
							margin-left: 6px;
							margin-right: 6px;
						}
//						width: 114px;
					}
				}
				li:first-child {
					margin-top: 12px;
				}
				a:hover {
					i {
					color: $main-color;
					border-bottom: 2px solid $main-color;
					}
					i.love {
						color: red;
						border-bottom: 2px red solid;
					}
//					a {
//						color: #fff;
//					}
				}
			} // end ul
			ul.ul-active {
				background-color: rgba(241, 241, 241, .73);
			}
		}
	}
}
