// 页面颜色
$bg-color: #e1ebed;
$bg-color-less: #ecf4f5;
$main-color: #1fb495;
$main-color-bottom: #19b494;
$main-color-hover: #38c9ab;
$indicator: #8b8d8d;
$album-hover: #25bb9d;
$grey: #f7f7f7;

$green: #5eb22d;
$green-bottom: #53a424;

// 大小屏幕适配
$large-width: 1205px;
$small-width: 960px;

html,
body {
	height: 100%;
	font-family: "Microsoft YaHei";
	background-color: #fff;
}

.container {
	width: 100%;
	height: 100%;
}

// 导航
nav {
	width: 100%;
	background-color: $bg-color-less;
	.nav-top {
		height: 28px;
		background-color: $bg-color-less;
		font-family: "Tahoma,sans-serif,Microsoft YaHei";
	}
	.nav-header {
		height: 70px;
		background-color: #fff;
		em {
			display: inline-block;
			float: left;
			width: 58px;
			height: 34px;
			background: url(../img/sprite.png) no-repeat -135px -81px;
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
			margin-top: 16px;
		}
		.content {
			width: $large-width;
			margin: 0 auto;
			span {
				display: inline-block;
				font-size: 30px;
				font-family: "FangSong";
				line-height: 70px;
				text-align: center;
			}
			.search-bar {
				display: inline-block;
				float: right;
				position: relative;
				margin-top: 15px;
				input {
					padding-right: 83px;
					width: 322px;
					height: 18px;
					font-size: 14px;
					padding: 10px 66px 10px 10px;
					border: 1px solid #e3e3e3;
				}
				.search-btn {
					position: absolute;
					box-sizing: border-box;
					top: 0;
					right: 0;
					width: 57px;
					height: 40px;
					cursor: pointer;
					text-align: center;
					line-height: 40px;
					border: 1px solid #e3e3e3;
					color: #999;
				}
				input:focus {
					border: 1px solid $main-color;
				}
				.search-btn-foucs {
					background-color: $main-color;
					border: 1px solid $main-color-hover;
					color: #fff;
				}
			}
		}
	}
	.nav-bar {
		background-color: $main-color;
		border-bottom: 1px solid $main-color-bottom;
		height: 39px;
		line-height: 40px;
		box-shadow: 0 2px 2px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
		position: relative;
		.nav-content {
			width: $large-width;
//			border: 1px solid red;
			margin: 0 auto;
			font-size: 16px;
			overflow: hidden;
			span {
				display: inline-block;
//				border: 1px solid blue;
				height: 40px;
				padding: 0 25px;
				line-height: 40px;
				color: #fff;
				&.left {
					float: left;
				}
				&.right {
					float: right;
					margin-right: 0;
					i {
						display: inline-block;
						width: 16px;
						height: 16px;
						margin-right: 8px;
						position: relative;
						top: 2px;
						background: url(../img/ren_icon.png) no-repeat;
					}
				}
			}
			.active {
				background-color: $main-color-hover;
			}
			span:first-child {
//				margin-left: 184px;
			}
			span:hover {
				cursor: pointer;
				background-color: $main-color-hover;
			}
		} // content
	} //nav-bar
}

// 主内容
.main {
	width: $large-width;
	position: relative;
	min-height: 75%;
	margin: 0 auto;
	//	border: 1px solid red;
	background-color: #fff;
	overflow: hidden;
	.nav {
		width: 150px;
		margin-top: 30px;
		float: left;
		li {
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 14px;
			letter-spacing: .5px;
			background-color: $bg-color-less;
			margin: 1px 0;
			&:hover {
				cursor: pointer;
				color: #fff;
				background-color: $main-color
			}
		}
		.active {
			color: #fff;
			background-color: $main-color
		}
	}
	.main-content {
		float: right;
		margin-top: 30px;
		width: 1020px;
//		height: 900px;
		background-color: $bg-color-less;
		// 第5部分：相册专辑
		.wrap5 {
			width: 100%;
			.sub-wrap {
				width: 100%;
				&:before {
					content: "";
					display: inline-block;
					padding-bottom: 18.2%;
					width: 0;
				}
				.img-wrap {
					position: relative;
					float: left;
					width: 25%;
					&:before {
						content: "";
						display: inline-block;
						padding-bottom: 73%;
						width: 0;
						vertical-align: middle;
					}
					img {
						position: absolute;
						width: 100%;
					}
					.cover {
						position: absolute;
						width: 100%;
						color: #fff;
						opacity: 0;
						.content {
							position: absolute;
							width: 190px;
							height: 130px;
							top: 50%;
							left: 50%;
							margin-left: -95px;
							margin-top: -70px;
							font-size: 14px;
							font-family: "Fangsong";
							text-align: center;
							.icon {
								width: 52px;
								height: 52px;
								background: url(../img/sprite.png) no-repeat -193px -74px;
								margin: 0 auto;
								margin-top: 15px;
								transform: scale(.8);
							}
							div {
								margin-top: 15px;
							}
							.date {
								font-family: "SimHei";
								font-weight: 400;
								font-size: 14px;
							}
						}
						&:before {
							content: "";
							display: inline-block;
							padding-bottom: 73.5%;
							width: 0;
							vertical-align: middle;
						}
						&:hover {
							background-color: $album-hover;
							opacity: .85;
							.content {
								background-color: $album-hover;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

// 页脚
footer {
	width: 100%;
	height: 150px;
	position: relative;
	bottom: 0;
//	&:before {
//		content: "";
//		display: inline-block;
//		padding-bottom: 13%;
//		width: 0;
//	}
	background-color: $bg-color;
	.wrap {
		display: inline-block;
		position: absolute;
		width: $large-width;
		overflow: hidden;
		left: 50%;
		margin-left: -$large-width/2;
		top: 50%;
		margin-top: -46px;
		&>div {
			//			border: 1px solid red;
		}
		.left {
			float: left;
			width: 390px;
			height: 100px;
			.title {
				overflow: hidden;
				position: relative;
				margin-bottom: 5px;
				em {
					display: inline-block;
					float: left;
					width: 58px;
					height: 34px;
					background: url(../img/sprite.png) no-repeat -135px -81px;
					transform: scale(.8);
					-webkit-transform: scale(.8);
				}
				span {
					font-size: 18px;
					float: left;
					font-family: "FangSong";
					line-height: 34px;
				}
			}
			.info {
				margin-left: 10px;
				font-size: 14px;
				font-family: "FangSong";
				line-height: 30px;
				font-weight: 200;
			}
		}
		.middle {
			position: absolute;
			width: 300px;
			height: 100px;
			left: 50%;
			margin-left: -150px;
			text-align: center;
			padding-top: 30px;
			a {
				background-color: rgba(0, 0, 0, .2);
				display: inline-block;
				font-family: "Ionicons";
				color: rgba(255, 255, 255, .92);
				font-size: 22px;
				height: 40px;
				width: 40px;
				line-height: 40px;
				border-radius: 20px;
				overflow: hidden;
				text-align: center;
				margin-right: 6px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
				&:hover {
					background-color: $main-color;
				}
				i {
					transform: scale(.9);
					-webkit-transform: scale(.9);
				}
				.fa-qq {
					transform: scale(.8);
					-webkit-transform: scale(.8);
				}
			}
		}
		.right {
			float: right;
			width: 170px;
			height: 100px;
			.info {
				margin-left: 10px;
				font-size: 14px;
				font-family: "FangSong";
				line-height: 30px;
				font-weight: 200;
				a:hover {
					background-color: $main-color;
					color: #fff;
				}
			}
		}
	}
}

@media screen and (max-width:1400px) {
	nav {
		.nav-bar {
			.nav-content {
				width: $small-width;
			}
		}
	}
	.main {
		width: $small-width;
		.main-content {
			width: 780px;
		}
	}
	footer {
		.wrap {
			width: $small-width;
			margin-left: -$small-width/2;
		}
	}
}
