// 页面颜色
$bg-color: #e1ebed;
$bg-color-less: #ecf4f5;
$main-color: #1fb495;
$main-color-bottom: #19b494;
$main-color-hover: #38c9ab;
$indicator: #8b8d8d;
$album-hover: #25bb9d;
$grey: #f7f7f7;

$green: #5eb22d;
$green-bottom: #53a424;

// 大小屏幕适配
$large-width: 1205px;
$small-width: 960px;

html,
body {
	height: 100%;
	font-family: "Microsoft YaHei";
	background-color: #fff;
}

.container {
	width: 100%;
	height: 100%;
}

@import 'all_large';
@import 'all_small';
