// 页面颜色
$bg-color: #e1ebed;
$main-color: #1fb495;
$indicator: #8b8d8d;
$album-hover: #25bb9d;
$grey: #f7f7f7;
// 页面颜色
$bg-color: #e1ebed;
$bg-color-less: #ecf4f5;
$main-color: #1fb495;
$main-color-bottom: #19b494;
$main-color-hover: #38c9ab;
$indicator: #8b8d8d;
$album-hover: #25bb9d;
$grey: #f7f7f7;
$green: #5eb22d;
$green-bottom: #53a424;
// 大小屏幕适配
$large-width: 1205px;
$small-width: 960px;
html,
body {
	height: 100%;
	font-family: "Microsoft YaHei";
	background-color: $bg-color;
}

.container {
	width: 100%;
	height: 100%;
}

// 第1部分：导航加背景图
.wrap1 {
	//	&:before {
	//		content: '';
	//		display: block;
	//		width: 100%;
	//		height: 2px;
	//		background-color: $main-color;
	//	}
	width: 100%;
	nav {
		position: relative;
		width: 100%;
		//		background-color: $bg-color-less;
		.nav-top {
			height: 36px;
			//			background-color: $bg-color-less;
			background-color: #edf0ef;
			font-family: "Tahoma,sans-serif,Microsoft YaHei";
		}
		.nav-header {
			height: 70px;
			background-color: #fff;
			//			background: url(../img/nav.png);
			em {
				display: inline-block;
				float: left;
				width: 58px;
				height: 34px;
				background: url(../img/sprite.png) no-repeat -135px -81px;
				transform: scale(1.1);
				-webkit-transform: scale(1.1);
				margin-top: 16px;
			}
			.content {
				position: relative;
				width: $small-width;
				margin: 0 auto;
				span {
					display: inline-block;
					font-size: 26px;
					font-family: "FangSong";
					line-height: 70px;
					text-align: center;
					.fa-camera {
						position: relative;
						top: 2px;
						color: $main-color;
					}
				}
				//				.share {
				//					position: absolute;
				//					width: 140px;
				//					height: 28px;
				//					right: 0;
				//					top: 24px;
				//					text-align: center;
				//					z-index: 3;
				//					a {
				//						background-color: #fafafa;
				//						display: inline-block;
				//						float: left;
				//						font-family: "Ionicons";
				//						color: rgba(255, 255, 255, .92);
				//						font-size: 18px;
				//						height: 28px;
				//						width: 68px;
				//						line-height: 28px;
				//						overflow: hidden;
				//						text-align: center;
				//						text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
				//						border: solid 1px $main-color-bottom;
				//						background-color: $main-color-hover;
				//						&:hover {
				//							background-color: #4fdbbe;
				//							border: solid 1px #4fdbbe;
				//							i {
				//								color: #fafafa;
				//							}
				//						}
				//						&:first-child {
				//							border-top-left-radius: 6px;
				//							border-bottom-left-radius: 6px;
				//						}
				//						&:last-child {
				//							border-top-right-radius: 6px;
				//							border-bottom-right-radius: 6px;
				//						}
				//						i {
				//							color: #fff;
				//							transform: scale(.9);
				//							-webkit-transform: scale(.9);
				//						}
				//					}
				//				}
				.search-bar {
					display: inline-block;
					float: right;
					position: relative;
					margin-top: 15px;
					input {
						padding-right: 83px;
						width: 309px;
						height: 18px;
						font-size: 14px;
						padding: 10px 66px 10px 10px;
						border: 1px solid #e3e3e3;
						border-top-right-radius: 2px;
						border-bottom-right-radius: 2px;
					}
					input:focus {
						border: 1px solid $main-color;
					}
					.search-btn {
						position: absolute;
						box-sizing: border-box;
						top: 0;
						right: 0;
						width: 70px;
						height: 40px;
						cursor: pointer;
						text-align: center;
						line-height: 40px;
						border: 1px solid #e3e3e3;
						color: #999;
						border-top-right-radius: 2px;
						border-bottom-right-radius: 2px;
						&:hover {
							background-color: $main-color-hover;
							color: #fff;
						}
					}
					.search-btn-foucs {
						background-color: $main-color;
						border: 1px solid $main-color-hover;
						color: #fff;
					}
				}
			}
		}
		.nav-bar {
			position: relative;
			background-color: $main-color;
			border-bottom: 1px solid $main-color-bottom;
			height: 39px;
			line-height: 40px;
			box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
			-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
			.nav-bar-menu {
				width: $small-width;
				margin: 0 auto;
				font-size: 16px;
				overflow: hidden;
				span {
					display: inline-block;
					height: 40px;
					padding: 0 25px;
					line-height: 40px;
					border-right: 1px solid #29a98f;
					color: #fff;
					&.left {
						float: left;
					}
					&.right {
						float: right;
						margin-right: 0;
						border-left: 1px solid #29a98f;
						i {
							display: inline-block;
							width: 16px;
							height: 16px;
							margin-right: 8px;
							position: relative;
							top: 2px;
							background: url(../img/ren_icon.png) no-repeat;
						}
					}
				}
				.active {
					background-color: $main-color-hover;
				}
				span:first-child {
					border-left: 1px solid #29a98f;
				}
				span:hover {
					cursor: pointer;
					background-color: $main-color-hover;
				}
				span.span-hover {
					cursor: pointer;
					background-color: $main-color-hover;
				}
			} // nav-bar-menu
		} //nav-bar
		.nav-bar-layout {
			display: none;
			position: absolute;
			z-index: 999999;
			top: 146px;
			height: 180px;
			width: 100%;
			background-color: #f1f1f1;
			background-color: rgba(241, 241, 241, 0.7);
			transition: all .2s ease-in;
			-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
			-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
			box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
			.category {
				width: $small-width;
				position: relative;
				margin: 0 auto;
				ul {
					display: inline-block;
					float: left;
					width: 114px;
					height: 180px;
					border-right: 1px solid #acadad;
					vertical-align: top;
					&:first-child {
						margin-left: 83px;
						border-left: 1px solid #acadad;
					}
					&:last-child {
						position: absolute;
						right: 0;
						width: 138px;
						border-left: 1px solid #acadad;
						border-right: 1px solid #acadad;
						li {
							width: 138px;
							a {
								width: 138px;
							}
						}
					}
					li {
						height: 30px;
						width: 114px;
						line-height: 30px;
						font-size: 14px;
						text-align: center;
						a {
							display: inline-block;
							width: 114px;
						}
					}
					li:first-child {
						margin-top: 12px;
					}
					li:hover {
						background-color: $main-color-hover;
						a {
							color: #fff;
						}
					}
				} // end ul
				ul.ul-active {
					background-color: rgba(241, 241, 241, .73);
				}
			}
		}
	}
	.slides {
		background: url(../img/wrap1_bg.jpg) no-repeat center center;
		background-color: rgb(37, 25, 0);
		width: 100%;
		height: 425px;
	}
	.intro {
		width: 100%;
		padding: 15px 0;
		margin-bottom: 20px;
		height: 42px;
		background: #ebebeb;
		border-bottom: 1px solid #ddd;
		.content {
			width: $small-width;
			margin: 0 auto;
			a {
				display: block;
				position: relative;
				float: left;
				width: 189px;
				height: 20px;
				padding-left: 50px;
				margin-top: 11px;
				text-align: center;
				font-size: 14px;
				color: #666;
				border-right: 1px solid #d0cbc7;
				i {
					display: block;
					position: absolute;
					top: -11px;
					left: 55px;
					width: 42px;
					height: 42px;
				}
			}
			a:last-child {
				border-right: 1px solid #ebebeb;
			}
			a:hover {
				color: $main-color;
			}
			.icon1 {
				background-image: url(../img/indexIntro.png);
				background-repeat: no-repeat;
				background-position: -60px 0;
			}
			.icon2 {
				background-image: url(../img/indexIntro.png);
				background-repeat: no-repeat;
				background-position: -105px 0;
			}
			.icon3 {
				background-image: url(../img/indexIntro.png);
				background-repeat: no-repeat;
				background-position: -150px 0;
			}
			.icon4 {
				background-image: url(../img/indexIntro.png);
				background-repeat: no-repeat;
				background-position: -195px 0;
			}
		}
	}
}

// 第2部分：工作室介绍
.wrap2 {
	width: 100%;
	height: 1800px;
	background-color: $bg-color;
	font-family: "FangSong";
	font-size: 20px;
	& > div {
		position: relative;
		width: 1003px;
		//		height: 600px;
//		margin: 0 auto;
		left: 50%;
		margin-left: -480px;
		margin-top: 50px;
		border-bottom: 1px solid red;
		border-top: 1px solid red;
		padding-top: 100px;
		overflow: hidden;
		ul {
			li {
				float: left;
				width: 157.6px;
				height: 226px;
				padding: 0 43px 13px 0;
//				border: 1px solid blue;
				div.album-wrap {
					width: 155px;
//					border: 1px solid yellow;
					font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
					.album-frame {
						position: relative;
						width: 155px;
						height: 155px;
						background: url(../img/album_frame.png) no-repeat 0 0;
						padding: 1px 0 0 1px;
						background-position: -25px -209px;
						.count {
							position: absolute;
							right: 15px;
							bottom: 15px;
							height: 22px;
							line-height: 22px;
							color: #fff;
							-webkit-border-radius: 3px;
							border-radius: 3px;
							padding: 0 11px;
							cursor: pointer;
							vertical-align: middle;
							background: url(../img/count_bg.png) repeat-x 0 0;
							_background: #555;
						}
					} // album-frame
					.album-detail {
						.album-title {
							margin-top: 6px;
							color: #555;
						}
						.album-date {
							margin-top: 4px;
							width: 155px;
							white-space: nowrap;
							color: #888;
							cursor: default;
						}
					}
				}
			}
		}
	}
}

// 第6部分：二维码
.wrap6 {
	position: relative;
	width: 100%;
	&:before {
		content: "";
		display: inline-block;
		padding-bottom: 12%;
		width: 0;
	}
	background-color: #fff;
	.sub-wrap {
		position: relative;
		margin: 0 auto;
		width: 380px;
		height: 300px;
		text-align: center;
		top: -118px;
		.logo {
			width: 111px;
			height: 73px;
			background: url(../img/sprite.png) no-repeat;
			margin: 0 auto;
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
		}
		.text {
			margin-top: 72px;
			margin-bottom: 45px;
			font-size: 20px;
			font-family: "FangSong"
		}
		.QR-code {
			width: 285px;
			height: 108px;
			background: url(../img/sprite.png) no-repeat 0 -159px;
			margin: 0 auto;
		}
		.QR-text {
			font-family: "FangSong";
			font-size: 14px;
			span {
				margin: 5px;
			}
		}
	}
	.line-bt {
		position: absolute;
		bottom: 0;
		width: 100%;
		&:before {
			content: "";
			display: inline-block;
			padding-bottom: 0.78%;
			width: 0;
		}
		background-color: $grey;
	}
}

// 页脚
footer {
	width: 100%;
	position: relative;
	&:before {
		content: "";
		display: inline-block;
		padding-bottom: 13%;
		width: 0;
	}
	background-color: $bg-color;
	.wrap {
		display: inline-block;
		position: absolute;
		width: 70%;
		overflow: hidden;
		left: 50%;
		margin-left: -35%;
		top: 50%;
		margin-top: -50px;
		&>div {
			//			border: 1px solid red;
		}
		.left {
			float: left;
			width: 390px;
			height: 100px;
			.title {
				overflow: hidden;
				position: relative;
				margin-bottom: 5px;
				em {
					display: inline-block;
					float: left;
					width: 58px;
					height: 34px;
					background: url(../img/sprite.png) no-repeat -135px -81px;
					transform: scale(.8);
					-webkit-transform: scale(.8);
				}
				span {
					font-size: 18px;
					float: left;
					font-family: "FangSong";
					line-height: 34px;
				}
			}
			.info {
				margin-left: 10px;
				font-size: 14px;
				font-family: "FangSong";
				line-height: 30px;
				font-weight: 200;
			}
		}
		.middle {
			position: absolute;
			width: 300px;
			height: 100px;
			left: 50%;
			margin-left: -150px;
			text-align: center;
			padding-top: 30px;
			a {
				background-color: rgba(0, 0, 0, .2);
				display: inline-block;
				font-family: "Ionicons";
				color: rgba(255, 255, 255, .92);
				font-size: 22px;
				height: 40px;
				width: 40px;
				line-height: 40px;
				border-radius: 20px;
				overflow: hidden;
				text-align: center;
				margin-right: 6px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
				&:hover {
					background-color: $main-color;
				}
				i {
					transform: scale(.9);
					-webkit-transform: scale(.9);
				}
				.fa-qq {
					transform: scale(.8);
					-webkit-transform: scale(.8);
				}
			}
		}
		.right {
			float: right;
			width: 170px;
			height: 100px;
			.info {
				margin-left: 10px;
				font-size: 14px;
				font-family: "FangSong";
				line-height: 30px;
				font-weight: 200;
				a:hover {
					background-color: $main-color;
					color: #fff;
				}
			}
		}
	}
}

// 媒体查询
@media screen and (max-width:1400px) {
	.wrap3 {
		.text {
			font-size: 16px;
			.content {
				line-height: 28px;
			}
			.middle {
				.linebt {
					display: none;
				}
			}
		}
	}
	.wrap6 {
		.sub-wrap {
			top: -95px;
			.logo {
				transform: scale(.8);
				-webkit-transform: scale(.8);
			}
			.text {
				font-size: 18px;
			}
		}
	}
}

// wrap4动画
.wrap4 {
	.sub-wrap.active-in {
		display: block;
		z-index: 2;
		-webkit-animation: wrap4-text-in 1.5s linear forwards;
		animation: wrap4-text-in 1.5s linear forwards;
	}
	.sub-wrap.active-out {
		display: block;
		z-index: 1;
		-webkit-animation: wrap4-text-out .8s linear forwards;
		animation: wrap4-text-out .8s linear forwards;
	}
}

@keyframes wrap4-text-in {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 0; //占位，否则布局会出错
	}
	1% {
		-webkit-transform: translate(1500px, 0);
		transform: translate(1500px, 0);
	}
	82% {
		-webkit-transform: translate(1500px, 0);
		transform: translate(1500px, 0)
	}
	88% {
		-webkit-transform: translate(-20px, 0);
		transform: translate(-20px, 0)
	}
	94% {
		-webkit-transform: translate(10px, 0);
		transform: translate(10px, 0)
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
}

@keyframes wrap4-text-out {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
	70% {
		-webkit-transform: translate(20px, 0);
		transform: translate(20px, 0)
	}
	100% {
		-webkit-transform: translate(-1500px, 0);
		transform: translate(-1500px, 0)
	}
}
