/* line 21, C:/workspace/photography-website/public/scss/style.scss */
html, body {
  height: 100%;
  font-family: "Microsoft YaHei";
  background-color: #e1ebed; }

/* line 27, C:/workspace/photography-website/public/scss/style.scss */
.container {
  width: 100%;
  height: 100%; }

/* line 33, C:/workspace/photography-website/public/scss/style.scss */
.wrap1 {
  width: 100%; }
  /* line 35, C:/workspace/photography-website/public/scss/style.scss */
  .wrap1 nav {
    width: 100%;
    background-color: #ecf4f5; }
    /* line 38, C:/workspace/photography-website/public/scss/style.scss */
    .wrap1 nav .nav-top {
      height: 28px;
      background-color: #ecf4f5;
      font-family: "Tahoma,sans-serif,Microsoft YaHei"; }
    /* line 43, C:/workspace/photography-website/public/scss/style.scss */
    .wrap1 nav .nav-header {
      height: 70px;
      background-color: #ecf4f5; }
      /* line 46, C:/workspace/photography-website/public/scss/style.scss */
      .wrap1 nav .nav-header em {
        display: inline-block;
        float: left;
        width: 58px;
        height: 34px;
        background: url(../img/sprite.png) no-repeat -135px -81px;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        margin-top: 16px; }
      /* line 56, C:/workspace/photography-website/public/scss/style.scss */
      .wrap1 nav .nav-header .content {
        width: 960px;
        margin: 0 auto; }
        /* line 59, C:/workspace/photography-website/public/scss/style.scss */
        .wrap1 nav .nav-header .content span {
          display: inline-block;
          font-size: 26px;
          font-family: "MingLiU";
          line-height: 70px;
          text-align: center; }
        /* line 66, C:/workspace/photography-website/public/scss/style.scss */
        .wrap1 nav .nav-header .content .search-bar {
          display: inline-block;
          float: right;
          position: relative;
          margin-top: 15px; }
          /* line 71, C:/workspace/photography-website/public/scss/style.scss */
          .wrap1 nav .nav-header .content .search-bar input {
            padding-right: 83px;
            width: 322px;
            height: 18px;
            font-size: 14px;
            padding: 10px 66px 10px 10px;
            border: 1px solid #e3e3e3; }
          /* line 79, C:/workspace/photography-website/public/scss/style.scss */
          .wrap1 nav .nav-header .content .search-bar .search-btn {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            right: 0;
            width: 57px;
            height: 40px;
            cursor: pointer;
            text-align: center;
            line-height: 40px;
            border: 1px solid #e3e3e3;
            color: #999; }
          /* line 92, C:/workspace/photography-website/public/scss/style.scss */
          .wrap1 nav .nav-header .content .search-bar input:focus {
            border: 1px solid #1fb495; }
          /* line 95, C:/workspace/photography-website/public/scss/style.scss */
          .wrap1 nav .nav-header .content .search-bar .search-btn-foucs {
            background-color: #1fb495;
            border: 1px solid #38c9ab;
            color: #fff; }
    /* line 103, C:/workspace/photography-website/public/scss/style.scss */
    .wrap1 nav .nav-bar {
      background-color: #1fb495;
      border-bottom: 1px solid #19b494;
      height: 39px;
      line-height: 40px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      position: relative; }
      /* line 111, C:/workspace/photography-website/public/scss/style.scss */
      .wrap1 nav .nav-bar .nav-content {
        width: 960px;
        margin: 0 auto;
        font-size: 16px;
        overflow: hidden; }
        /* line 117, C:/workspace/photography-website/public/scss/style.scss */
        .wrap1 nav .nav-bar .nav-content span {
          display: inline-block;
          height: 40px;
          padding: 0 25px;
          line-height: 40px;
          color: #fff; }
          /* line 124, C:/workspace/photography-website/public/scss/style.scss */
          .wrap1 nav .nav-bar .nav-content span.left {
            float: left; }
          /* line 127, C:/workspace/photography-website/public/scss/style.scss */
          .wrap1 nav .nav-bar .nav-content span.right {
            float: right;
            margin-right: 0; }
            /* line 130, C:/workspace/photography-website/public/scss/style.scss */
            .wrap1 nav .nav-bar .nav-content span.right i {
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-right: 8px;
              position: relative;
              top: 2px;
              background: url(../img/ren_icon.png) no-repeat; }
        /* line 141, C:/workspace/photography-website/public/scss/style.scss */
        .wrap1 nav .nav-bar .nav-content .active {
          background-color: #38c9ab; }
        /* line 147, C:/workspace/photography-website/public/scss/style.scss */
        .wrap1 nav .nav-bar .nav-content span:hover {
          cursor: pointer;
          background-color: #38c9ab; }
  /* line 154, C:/workspace/photography-website/public/scss/style.scss */
  .wrap1 .slides {
    background: url(../img/wrap1_bg.jpg) no-repeat center center;
    background-color: #251900;
    width: 100%;
    height: 425px; }
  /* line 160, C:/workspace/photography-website/public/scss/style.scss */
  .wrap1 .intro {
    width: 100%;
    height: 100px;
    background-color: #ecf4f5; }

/* line 168, C:/workspace/photography-website/public/scss/style.scss */
.wrap2 {
  width: 100%;
  height: 466px;
  background-color: #e1ebed;
  font-family: "FangSong";
  font-size: 20px; }
  /* line 174, C:/workspace/photography-website/public/scss/style.scss */
  .wrap2 .logo {
    width: 58px;
    height: 53px;
    position: relative;
    margin: 0 auto;
    top: 46px;
    background: url(../img/sprite.png) no-repeat -135px -73px;
    transform: scale(1.3);
    -webkit-transform: scale(1.3); }
  /* line 184, C:/workspace/photography-website/public/scss/style.scss */
  .wrap2 .name {
    text-indent: -9999px;
    width: 270px;
    height: 73px;
    position: relative;
    margin: 0 auto;
    top: 44px;
    background: url(../img/sprite.png) no-repeat -109px 0; }
  /* line 193, C:/workspace/photography-website/public/scss/style.scss */
  .wrap2 .intro {
    position: relative;
    top: 70px; }
    /* line 196, C:/workspace/photography-website/public/scss/style.scss */
    .wrap2 .intro div {
      margin-bottom: 35px; }
    /* line 199, C:/workspace/photography-website/public/scss/style.scss */
    .wrap2 .intro .line1 {
      margin-left: 22%; }
    /* line 202, C:/workspace/photography-website/public/scss/style.scss */
    .wrap2 .intro .line2 {
      margin-left: 27.5%; }
    /* line 205, C:/workspace/photography-website/public/scss/style.scss */
    .wrap2 .intro .line3 {
      margin-left: 34%; }
    /* line 208, C:/workspace/photography-website/public/scss/style.scss */
    .wrap2 .intro .line4 {
      margin-left: 65%; }

/* line 215, C:/workspace/photography-website/public/scss/style.scss */
.wrap3 {
  width: 100%;
  background-color: #fff; }
  /* line 218, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 > div {
    position: relative;
    overflow: hidden; }
  /* line 222, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .big_img {
    float: left;
    display: inline-block;
    max-width: 66.67%;
    max-height: 720px; }
  /* line 228, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .small_img {
    float: left;
    display: inline-block;
    position: absolute;
    bottom: 0;
    max-width: 33.33%;
    max-height: 240px; }
  /* line 236, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .text {
    position: absolute;
    width: 33.4%;
    float: left;
    display: table;
    right: 0;
    font-size: 20px;
    font-family: "FangSong";
    margin: 0 auto; }
    /* line 241, C:/workspace/photography-website/public/scss/style.scss */
    .wrap3 .text:before {
      content: "";
      display: inline-block;
      padding-bottom: 75.5%;
      width: 0;
      float: left; }
    /* line 252, C:/workspace/photography-website/public/scss/style.scss */
    .wrap3 .text .middle {
      position: absolute;
      width: 100%;
      margin-top: -150px;
      top: 50%; }
      /* line 257, C:/workspace/photography-website/public/scss/style.scss */
      .wrap3 .text .middle .logo {
        width: 58px;
        height: 53px;
        margin: 0 auto;
        background: url(../img/sprite.png) no-repeat -135px -73px; }
      /* line 263, C:/workspace/photography-website/public/scss/style.scss */
      .wrap3 .text .middle .title {
        margin-top: 3px;
        text-align: center;
        font-weight: 800;
        line-height: 36px; }
      /* line 269, C:/workspace/photography-website/public/scss/style.scss */
      .wrap3 .text .middle .content {
        text-align: center;
        line-height: 36px; }
      /* line 273, C:/workspace/photography-website/public/scss/style.scss */
      .wrap3 .text .middle .linebt {
        width: 9.8%;
        height: 1px;
        background-color: #aaa;
        margin: 0 auto;
        margin-top: 20px; }
  /* line 283, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .sub-wrap2 .big_img {
    float: right; }
  /* line 286, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .sub-wrap2 .small_img {
    float: right; }
  /* line 289, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .sub-wrap2 .text {
    right: auto;
    left: 0; }
  /* line 295, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .sub-wrap3 .left_img {
    float: left;
    display: inline-block;
    max-width: 33.33%;
    max-height: 720px; }
  /* line 301, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .sub-wrap3 .small_img {
    float: left; }
  /* line 304, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .sub-wrap3 .right_img {
    float: right;
    display: inline-block;
    max-width: 33.33%;
    max-height: 720px; }
  /* line 310, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .sub-wrap3 .text {
    right: auto;
    left: 33.33%; }

/* line 318, C:/workspace/photography-website/public/scss/style.scss */
.wrap4 {
  width: 100%;
  height: 420px;
  background-color: #e1ebed;
  font-family: "FangSong";
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 20px; }
  /* line 326, C:/workspace/photography-website/public/scss/style.scss */
  .wrap4 .logo {
    width: 58px;
    height: 53px;
    position: relative;
    margin: 0 auto;
    top: 46px;
    background: url(../img/sprite.png) no-repeat -135px -73px;
    transform: scale(1.3);
    -webkit-transform: scale(1.3); }
  /* line 336, C:/workspace/photography-website/public/scss/style.scss */
  .wrap4 .name {
    text-indent: -9999px;
    width: 244px;
    height: 32px;
    position: relative;
    margin: 0 auto;
    top: 50px;
    background: url(../img/sprite.png) no-repeat 0 -126px; }
  /* line 345, C:/workspace/photography-website/public/scss/style.scss */
  .wrap4 .text {
    position: relative;
    top: 80px; }
    /* line 348, C:/workspace/photography-website/public/scss/style.scss */
    .wrap4 .text div {
      margin-bottom: 40px; }
    /* line 351, C:/workspace/photography-website/public/scss/style.scss */
    .wrap4 .text .sub-wrap {
      position: absolute;
      display: none;
      width: 800px;
      left: 50%;
      margin-left: -400px; }
      /* line 357, C:/workspace/photography-website/public/scss/style.scss */
      .wrap4 .text .sub-wrap .main {
        text-align: center;
        line-height: 48px; }
      /* line 361, C:/workspace/photography-website/public/scss/style.scss */
      .wrap4 .text .sub-wrap .auth {
        position: relative;
        width: 250px;
        float: right;
        text-align: center; }
  /* line 369, C:/workspace/photography-website/public/scss/style.scss */
  .wrap4 .indicator {
    position: absolute;
    width: 800px;
    top: 180px;
    left: 50%;
    margin-left: -400px; }
    /* line 375, C:/workspace/photography-website/public/scss/style.scss */
    .wrap4 .indicator .container {
      position: relative;
      margin: 0 auto;
      width: 230px;
      height: 20px;
      padding-top: 25px;
      text-align: center;
      line-height: 12px;
      cursor: default; }
      /* line 384, C:/workspace/photography-website/public/scss/style.scss */
      .wrap4 .indicator .container .circle-out {
        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        cursor: pointer;
        border: 1px solid #8b8d8d;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: none; }
      /* line 398, C:/workspace/photography-website/public/scss/style.scss */
      .wrap4 .indicator .container .slideActive {
        background-color: #8b8d8d; }

/* line 406, C:/workspace/photography-website/public/scss/style.scss */
.wrap5 {
  width: 100%; }
  /* line 408, C:/workspace/photography-website/public/scss/style.scss */
  .wrap5 .sub-wrap {
    width: 100%; }
    /* line 410, C:/workspace/photography-website/public/scss/style.scss */
    .wrap5 .sub-wrap:before {
      content: "";
      display: inline-block;
      padding-bottom: 18.2%;
      width: 0; }
    /* line 416, C:/workspace/photography-website/public/scss/style.scss */
    .wrap5 .sub-wrap .img-wrap {
      position: relative;
      float: left;
      width: 25%; }
      /* line 420, C:/workspace/photography-website/public/scss/style.scss */
      .wrap5 .sub-wrap .img-wrap:before {
        content: "";
        display: inline-block;
        padding-bottom: 73%;
        width: 0;
        vertical-align: middle; }
      /* line 427, C:/workspace/photography-website/public/scss/style.scss */
      .wrap5 .sub-wrap .img-wrap img {
        position: absolute;
        width: 100%; }
      /* line 431, C:/workspace/photography-website/public/scss/style.scss */
      .wrap5 .sub-wrap .img-wrap .cover {
        position: absolute;
        width: 100%;
        color: #fff;
        opacity: 0; }
        /* line 436, C:/workspace/photography-website/public/scss/style.scss */
        .wrap5 .sub-wrap .img-wrap .cover .content {
          position: absolute;
          width: 200px;
          height: 160px;
          top: 50%;
          left: 50%;
          margin-left: -100px;
          margin-top: -78px;
          font-size: 20px;
          font-family: "Fangsong";
          text-align: center; }
          /* line 447, C:/workspace/photography-website/public/scss/style.scss */
          .wrap5 .sub-wrap .img-wrap .cover .content .icon {
            width: 52px;
            height: 52px;
            background: url(../img/sprite.png) no-repeat -193px -74px;
            margin: 0 auto;
            margin-bottom: 30px; }
          /* line 454, C:/workspace/photography-website/public/scss/style.scss */
          .wrap5 .sub-wrap .img-wrap .cover .content div {
            margin-bottom: 30px; }
          /* line 457, C:/workspace/photography-website/public/scss/style.scss */
          .wrap5 .sub-wrap .img-wrap .cover .content .date {
            font-family: "SimHei";
            font-weight: 500;
            font-size: 18px; }
        /* line 463, C:/workspace/photography-website/public/scss/style.scss */
        .wrap5 .sub-wrap .img-wrap .cover:before {
          content: "";
          display: inline-block;
          padding-bottom: 73.3%;
          width: 0;
          vertical-align: middle; }
        /* line 470, C:/workspace/photography-website/public/scss/style.scss */
        .wrap5 .sub-wrap .img-wrap .cover:hover {
          background-color: #25bb9d;
          opacity: .85; }
          /* line 473, C:/workspace/photography-website/public/scss/style.scss */
          .wrap5 .sub-wrap .img-wrap .cover:hover .content {
            opacity: 1; }
  /* line 480, C:/workspace/photography-website/public/scss/style.scss */
  .wrap5 .more-wrap {
    width: 100%;
    height: 200px;
    background-color: #e1ebed;
    font-family: "FangSong";
    font-size: 20px; }
    /* line 486, C:/workspace/photography-website/public/scss/style.scss */
    .wrap5 .more-wrap .seemore {
      position: relative;
      margin: 0 auto;
      width: 18.8%;
      top: 70px;
      font-size: 20px;
      font-family: "Microsoft YaHei";
      letter-spacing: 3px;
      color: #1fb495;
      border: 1px solid #1fb495;
      text-align: center; }
      /* line 490, C:/workspace/photography-website/public/scss/style.scss */
      .wrap5 .more-wrap .seemore:before {
        content: "";
        display: inline-block;
        padding-bottom: 16.67%;
        width: 0;
        vertical-align: middle; }
      /* line 504, C:/workspace/photography-website/public/scss/style.scss */
      .wrap5 .more-wrap .seemore:hover {
        cursor: pointer;
        color: #fff;
        background-color: #1fb495; }

/* line 514, C:/workspace/photography-website/public/scss/style.scss */
.wrap6 {
  position: relative;
  width: 100%;
  background-color: #fff; }
  /* line 517, C:/workspace/photography-website/public/scss/style.scss */
  .wrap6:before {
    content: "";
    display: inline-block;
    padding-bottom: 12%;
    width: 0; }
  /* line 524, C:/workspace/photography-website/public/scss/style.scss */
  .wrap6 .sub-wrap {
    position: relative;
    margin: 0 auto;
    width: 380px;
    height: 300px;
    text-align: center;
    top: -118px; }
    /* line 531, C:/workspace/photography-website/public/scss/style.scss */
    .wrap6 .sub-wrap .logo {
      width: 111px;
      height: 73px;
      background: url(../img/sprite.png) no-repeat;
      margin: 0 auto;
      transform: scale(1.1);
      -webkit-transform: scale(1.1); }
    /* line 539, C:/workspace/photography-website/public/scss/style.scss */
    .wrap6 .sub-wrap .text {
      margin-top: 72px;
      margin-bottom: 45px;
      font-size: 20px;
      font-family: "FangSong"; }
    /* line 545, C:/workspace/photography-website/public/scss/style.scss */
    .wrap6 .sub-wrap .QR-code {
      width: 285px;
      height: 108px;
      background: url(../img/sprite.png) no-repeat 0 -159px;
      margin: 0 auto; }
    /* line 551, C:/workspace/photography-website/public/scss/style.scss */
    .wrap6 .sub-wrap .QR-text {
      font-family: "FangSong";
      font-size: 14px; }
      /* line 554, C:/workspace/photography-website/public/scss/style.scss */
      .wrap6 .sub-wrap .QR-text span {
        margin: 5px; }
  /* line 559, C:/workspace/photography-website/public/scss/style.scss */
  .wrap6 .line-bt {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7; }
    /* line 563, C:/workspace/photography-website/public/scss/style.scss */
    .wrap6 .line-bt:before {
      content: "";
      display: inline-block;
      padding-bottom: 0.78%;
      width: 0; }

/* line 574, C:/workspace/photography-website/public/scss/style.scss */
footer {
  width: 100%;
  position: relative;
  background-color: #e1ebed; }
  /* line 577, C:/workspace/photography-website/public/scss/style.scss */
  footer:before {
    content: "";
    display: inline-block;
    padding-bottom: 13%;
    width: 0; }
  /* line 584, C:/workspace/photography-website/public/scss/style.scss */
  footer .wrap {
    display: inline-block;
    position: absolute;
    width: 70%;
    overflow: hidden;
    left: 50%;
    margin-left: -35%;
    top: 50%;
    margin-top: -50px; }
    /* line 596, C:/workspace/photography-website/public/scss/style.scss */
    footer .wrap .left {
      float: left;
      width: 390px;
      height: 100px; }
      /* line 600, C:/workspace/photography-website/public/scss/style.scss */
      footer .wrap .left .title {
        overflow: hidden;
        position: relative;
        margin-bottom: 5px; }
        /* line 604, C:/workspace/photography-website/public/scss/style.scss */
        footer .wrap .left .title em {
          display: inline-block;
          float: left;
          width: 58px;
          height: 34px;
          background: url(../img/sprite.png) no-repeat -135px -81px;
          transform: scale(0.8);
          -webkit-transform: scale(0.8); }
        /* line 613, C:/workspace/photography-website/public/scss/style.scss */
        footer .wrap .left .title span {
          font-size: 18px;
          float: left;
          font-family: "FangSong";
          line-height: 34px; }
      /* line 620, C:/workspace/photography-website/public/scss/style.scss */
      footer .wrap .left .info {
        margin-left: 10px;
        font-size: 14px;
        font-family: "FangSong";
        line-height: 30px;
        font-weight: 200; }
    /* line 628, C:/workspace/photography-website/public/scss/style.scss */
    footer .wrap .middle {
      position: absolute;
      width: 300px;
      height: 100px;
      left: 50%;
      margin-left: -150px;
      text-align: center;
      padding-top: 30px; }
      /* line 636, C:/workspace/photography-website/public/scss/style.scss */
      footer .wrap .middle a {
        background-color: rgba(0, 0, 0, 0.2);
        display: inline-block;
        font-family: "Ionicons";
        color: rgba(255, 255, 255, 0.92);
        font-size: 22px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        margin-right: 6px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
        /* line 650, C:/workspace/photography-website/public/scss/style.scss */
        footer .wrap .middle a:hover {
          background-color: #1fb495; }
        /* line 653, C:/workspace/photography-website/public/scss/style.scss */
        footer .wrap .middle a i {
          transform: scale(0.9);
          -webkit-transform: scale(0.9); }
        /* line 657, C:/workspace/photography-website/public/scss/style.scss */
        footer .wrap .middle a .fa-qq {
          transform: scale(0.8);
          -webkit-transform: scale(0.8); }
    /* line 663, C:/workspace/photography-website/public/scss/style.scss */
    footer .wrap .right {
      float: right;
      width: 170px;
      height: 100px; }
      /* line 667, C:/workspace/photography-website/public/scss/style.scss */
      footer .wrap .right .info {
        margin-left: 10px;
        font-size: 14px;
        font-family: "FangSong";
        line-height: 30px;
        font-weight: 200; }
        /* line 673, C:/workspace/photography-website/public/scss/style.scss */
        footer .wrap .right .info a:hover {
          background-color: #1fb495;
          color: #fff; }

@media screen and (max-width: 1400px) {
  /* line 685, C:/workspace/photography-website/public/scss/style.scss */
  .wrap3 .text {
    font-size: 16px; }
    /* line 687, C:/workspace/photography-website/public/scss/style.scss */
    .wrap3 .text .content {
      line-height: 28px; }
    /* line 691, C:/workspace/photography-website/public/scss/style.scss */
    .wrap3 .text .middle .linebt {
      display: none; }
  /* line 698, C:/workspace/photography-website/public/scss/style.scss */
  .wrap6 .sub-wrap {
    top: -95px; }
    /* line 700, C:/workspace/photography-website/public/scss/style.scss */
    .wrap6 .sub-wrap .logo {
      transform: scale(0.8);
      -webkit-transform: scale(0.8); }
    /* line 704, C:/workspace/photography-website/public/scss/style.scss */
    .wrap6 .sub-wrap .text {
      font-size: 18px; } }

/* line 713, C:/workspace/photography-website/public/scss/style.scss */
.wrap4 .sub-wrap.active-in {
  display: block;
  z-index: 2;
  -webkit-animation: wrap4-text-in 1.5s linear forwards;
  animation: wrap4-text-in 1.5s linear forwards; }

/* line 719, C:/workspace/photography-website/public/scss/style.scss */
.wrap4 .sub-wrap.active-out {
  display: block;
  z-index: 1;
  -webkit-animation: wrap4-text-out 0.8s linear forwards;
  animation: wrap4-text-out 0.8s linear forwards; }

@keyframes wrap4-text-in {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0; }
  1% {
    -webkit-transform: translate(1500px, 0);
    transform: translate(1500px, 0); }
  82% {
    -webkit-transform: translate(1500px, 0);
    transform: translate(1500px, 0); }
  88% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0); }
  94% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes wrap4-text-out {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  70% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0); }
  100% {
    -webkit-transform: translate(-1500px, 0);
    transform: translate(-1500px, 0); } }

/*# sourceMappingURL=style.css.map */
