#people {
	.top-img {
		.bg-img {
			width: $large-width;
			margin-left: -$large-width/2;
			background: url(../img/people/top-bg.jpg) no-repeat 718px 0px;
			background-size: auto 100%;
		}
		img {
			top: 50px;
			width: 120px;
		}
		.intro {
			width: $large-width;
			.profile {
				top: 75px;
				left: 146px;
			}
		}
		.text {
			width: $large-width;
			margin-left: -$large-width/2;
			.title {
				font-size: 38px;
			}
			.word {
				font-size: 18px;
				padding: 5px 30px 8px;
				i {
					font-size: 30px;
				}
			}
		}
		.buttons {
			margin-left: -295px;
		}
	}
	.main {
		min-height: 610px;
	}
}
