#people,
#private,
#scenery,
#love {
	.top-img {
		height: 270px;
		.bg-img {
			height: 270px;
			background: url(../../img/top-bg.jpg) no-repeat 0 -200px;
			background-size: 100% auto;
		}
		img {
			top: 50px;
			width: 120px;
		}
		.intro {
			width: $large-width;
			.profile {
				top: 75px;
				left: 146px;
			}
		}
		.text {
			width: $large-width;
			height: 280px;
			margin-left: -$large-width/2;
			.title {
				font-size: 34px;
			}
			.word {
				margin-top: 30px;
				font-size: 16px;
				padding: 7px 18px 8px;
				line-height: 25px;
				i {
					font-size: 30px;
				}
			}
		}
	}
	.main {
		min-height: 610px;
		width: $large-width;
		top: 30px;
		.wrap-intro,
		.wrap-show {
			h2.headline-1.custom-title {
				margin: 50px 960px 15px -1px;
			}
			.img img {
				max-width: 1100px;
				margin-left: 50px;
				margin-top: 10px;
			}
		}
	}
}
