#impression {
	min-height: 1500px;
	.top-img {
		background: url(../../img/impression/top-bg.jpg) no-repeat center 0 !important;
		background-size: 100% auto!important;
		.buttons {
			width: 500px!important;
			margin-left: -250px!important;
		}
	}
}
