#album {
	.top-img {
		background: url(../img/people/top-bg.jpg) no-repeat center -195px;
		background-size: 100% auto;
	}
	.main {
		width: $large-width;
		box-sizing: border-box;
//		@include red;
		left: 50%;
		margin-left: -$large-width/2;
		.photo-list {
			width: 1020px;
			span.title-line {
				width: 1018px;
			}
			.intro {
				span.text {
					width: 782px;
				}
			}
		}
	}
	.nav-side {
		margin-left: -$large-width/2;
		padding-left: 1063px;
	}
}
