<div class="dy-wrap">
	<div class="date">19<i> 一月</i></div>
	<div class="location">南京</div>
	<div class="photos f-m0a">
		<div class="dy-text">圈里圈外，兜兜转转，今天又拍了一个菇凉哈哈</div>
		<li ng-repeat="photo in showpicwall"><img src="{{photo.src}}"></li>
	</div>
</div>
<div class="dy-wrap">
	<div class="date">28<i> 十二月</i></div>
	<div class="location">杭州</div>
	<div class="photos f-m0a">
		<div class="dy-text">随便发点什么啊不啊啊，今天又拍了一个菇凉哈哈</div>
		<li ng-repeat="photo in showpicwall"><img src="{{photo.src}}"></li>
	</div>
</div>
