<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>电影推荐</title>
    <base href="/kimi/">
    <link rel="stylesheet" href="css/film.css">
</head>

<body>
    <nav>
        <ul>
            <a href="/">
                <li class="first">摄影</li>
            </a>
            <a href="/film">
                <li class="first active">电影</li>
            </a>
            <!-- <a href="/book">
                <li class="first">读书</li>
            </a> -->
            <!-- <a href=""><li class="first f-fr">更新历史</li></a> -->
        </ul>
    </nav>
    <!--<div class="des">
        <div class="search-bar">
            <input class="search-input" placeholder="输入电影名称/上映时间/国家/类型等" id="search-highlight" name="search-highlight" type="text" data-list=".highlight_list" autocomplete="off">
             <a class="search-btn">搜索</a> 
        </div>
    </div>-->
    <div class="container f-cb">
        <ul class="c-left" id="film-cards">
            <li class="select">
                <ul>
                    <li class="options">
                        <span>类别：</span>
                        <a class=" active">全部</a>
                        <a class="">电影</a>
                        <!--<a class="">电视剧</a>
                        <a class="">纪录片</a>
                        <a class="">公开课</a>-->
                    </li>
                    <li class="options">
                        <span>地区：</span>
                        <a class="active">全部</a>
                        <a class="">美国</a>
                        <a class="">大陆</a>
                        <a class="">欧洲</a>
                        <a class="">日本</a>
                        <a class="">韩国</a>
                        <a class="">港台</a>
                        <a class="">俄罗斯</a>
                        <a class="">印度</a>
                        </li>
                    <li class="options">
                        <span>类型：</span>
                        <a class="active">全部</a>
                        <a class="">悬疑</a>
                        <a class="">科幻</a>
                        <a class="">战争</a>
                        <a class="">励志</a>
                        <a class="">感人</a>
                        <a class="">喜剧</a>
                        <a class="">黑色幽默</a>
                        </li>
                    <li class="options">
                        <span>年代：</span>
                        <a class="active">全部</a>
                        <a class="">2016</a>
                        <a class="">2015</a>
                        <a class="">2010~2014</a>
                        <a class="">2000~2009</a>
                        <a class="">1999以前</a>
                        </li>
                    <li class="options">
                        <span>评分：</span>
                        <a class="active">全部</a>
                        <a class="">≥9.0分</a>
                        <a class="">≥8.5分</a>
                        <a class="">≥8.0分</a>
                        </li>
                </ul>
            </li>
            <li class="sort">
                <div class="sort-show active"><i class="fa fa-list-alt"></i>卡片展示</div>
                <div class="sort-show"><i class="fa fa fa-list-ul"></i>列表展示</div>
                <div class="sort-by">按时长</div>
                <div class="sort-by">按评分</div>
                <div class="sort-by active">按发布日期</div>
            </li>
            <li v-for="item in items">
                <div class="card">
                    <!--<div class="s-title" v-text="item.filmName"></div>-->
                    <img :src="item.imgSrc" alt="">
                    <div class="intro">
                        <div class="line">
                            <span class="s-title" v-text="item.filmName"></span>
                        </div>
                        <div class="line">
                            <span class="l-title">【上映】</span><span class="l-intro" v-text="item.releaseDate"></span>
                        </div>
                        <!--<div class="line">
                            <span class="l-title">【片长】</span>
                            <span class="l-intro" v-text="item.length"> </span>
                        </div>-->
                        <div class="line">
                            <span class="l-title">【类型】</span><span class="l-intro" v-text="item.type"></span>
                        </div>
                        <!--<div class="line">
                            <span class="l-title">【发布时间】</span>
                            <span class="l-intro" v-text="item.pubtime"></span>
                        </div>-->
                        <!--<div class="line">
                            <span class="l-title">【主演】</span>
                            <span class="l-intro" v-text="item.actor"></span>
                        </div>-->
                        <div class="line">
                            <span class="l-title">【推荐理由】</span><span class="l-intro" v-text="item.reason"></span>
                        </div>
                        <div class="download">
                            <span class="l-title">【资源地址】</span>
                            <a :href="download.href" v-for="download in item.downloads"><span class="l-button-ghost" v-text="download.name"></span></a>
                            <a
                                :href="comment.href" v-for="comment in item.comments" target="_blank"><span class="l-button-ghost" v-text="comment.name"></span></a>
                        </div>
                        <!--<div class="download">
                            <span class="l-title">【观后影评】</span>
                        </div>-->
                    </div>
                    <div class="score" v-text="item.score"></div>
                </div>
            </li>
        </ul>
        <ul class="c-right">
            <li class="top-film"></li>
            <li class="top-film"></li>
            <li class="top-film"></li>
            <li class="top-film"></li>
            <li class="top-film"></li>
            <li class="top-film"></li>
            <li class="top-film"></li>
            <li class="top-film"></li>
            <li class="top-film"></li>
            <li class="top-film"></li>
        </ul>
    </div>
    <div id="more">
        <div class="more" v-on:click="more" v-if="count">点击加载更多...</div>
    </div>
    <footer></footer>
    <script src="lib/vue.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery.hideseek.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <div id="scrollUp"><i>TOP</i></div>
    <script>
        $(window).scroll(function () {
            var scrollY = $(document).scrollTop(); // 获取垂直滚动的距离，即滚动了多少
            if (scrollY > 300) { //如果滚动距离大于300px显示
                $('#scrollUp').show();
            } else {
                $('#scrollUp').hide();
            }
        });
        $('#scrollUp').click(function () {
            $("html, body").animate({
                scrollTop: "0px"
            }, {
                duration: 400,
                easing: "swing"
            });
            return false;
        });
        $('.search-bar').focusin(function () {
            $(this).find('.search-btn').addClass('search-btn-foucs')
        });
        $('.search-bar').focusout(function () {
            $(this).find('.search-btn').removeClass('search-btn-foucs')
        });
        // $('.search-btn').click(function () {
        //     alert('系统警告，累了=_=!');
        // });
        $('#search-highlight').hideseek({
            highlight: true
        });
        $.getJSON("json/film.json", function(_data){
            var dataList = _data;
            var cardLen = _data.length;
            var cardCount = parseInt(_data.length / 10);
            var cardLast = _data.length % 10;
            var pushCount = 1;
            window.filmCards = new Vue({
                el: '#film-cards',
                data: {
                  // parentMessage: 'Parent',
                  items: _(dataList).first(10)
                }
            })
            var more = new Vue({
                el: '#more',
                data: {
                  count: cardCount
                },
                methods: {
                    more: function() {
                        if (this.count == 1) {
                            filmCards.items = _(dataList).first(pushCount*10 + cardLast);
                            this.count--;
                        }
                        if (this.count > 1) {
                            pushCount++;
                            filmCards.items = _(dataList).first(pushCount*10);
                            this.count--;
                        }
                    }
                }
            });
        });
    //     function buttomDistance(len) {
    //         var docHeight = Math.max(document.body.scrollHeight,document.body.offsetHeight);
    //         var viewHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight || 0;
    //         var scrollHeight = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
    //         return docHeight - viewHeight - scrollHeight < len;
    //    }
    //    function checkHeight(){
    //         if(!buttomDistance(20)) {
    //             return loadDoc();
    //         }
    //         //Ajax请求下一页....
    //         //to do something...
    //         // filmCards.items = _(dataList).first(11);
    //     }
    //     function loadDoc(){
    //        setTimeout(checkHeight, 150); //间隔150ms 应该够了...
    //     }
    //     loadDoc();
    </script>
    <div style="display: none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259023462'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259023462' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>

</html>