// public def
$small-width: 960px;
$large-width: 1200px;
// color
$main-color: #159957;
$sub-color: #ffd596;
$main-color-hover: #11B362;
// $main-color-hover: #15BF6A;
$bg-color: #e1e1e1;
$nav-color: #159957;

@import 'reset';
@import 'function';
@import 'base';

.fa-angle-up {
    font-size: 14px;
    line-height: 28px;
}

html, body {
	font-family: Microsoft YaHei, Helvetica, arial, freesans, clean, sans-serif;
	background-color: $bg-color;
}
footer {
	width: 100%;
	height: 120px;
}
// nav新的样式
nav {
	width: 100%;
	height: 41px;
	background-color: $nav-color;
    background-image: linear-gradient(120deg, #159999, #159957);
    //  -webkit-filter: blur(5px);
    // -ms-filter: blur(5px);
    // filter: blur(5px);
    // filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=false);
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
	& > ul {
		width: $small-width;
		position: relative;
		margin: 0 auto;
		& > a li {
			color: #fff;
		    float: left;
		    display: inline-table;
		    padding: 9px;
		    padding-left: 15px;
		    padding-right: 15px;
		    border-right: 1px solid $main-color;
		    text-align: center;
		    font-size: 14px;
		    margin-top: 1px;
		    height: 20px;
	        line-height: 20px;
		    &:hover, &.active {
		    	background-color: #fff;
		    	color: $main-color;
		    }
		}
	}
}
// .search-bar {
// 	display: inline-block;
// 	position: relative;
// 	input {
// 		padding-right: 83px;
// 	    width: 450px;
// 	    height: 22px;
// 	    font-size: 15px;
// 		padding: 10px 66px 10px 10px;
// 		-webkit-border: 1px #BCCCB9 solid;
// 		-moz-border: 1px #BCCCB9 solid;
// 		-ms-border: 1px #BCCCB9 solid;
// 		-o-border: 1px #BCCCB9 solid;
// 		border: 1px #BCCCB9 solid;
// 	}
// 	input:focus {
// 		border: 1px solid $main-color;
// 	}
// 	.search-btn {
// 		position: absolute;
// 		box-sizing: border-box;
// 		top: 0;
// 		right: 0;
// 		width: 70px;
// 		height: 40px;
// 		cursor: pointer;
// 		text-align: center;
// 		line-height: 40px;
// 		border: 1px solid #e3e3e3;
// 		color: #999;
// 		border-top-right-radius: 2px;
// 		border-bottom-right-radius: 2px;
// 		&:hover {
// 			background-color: $main-color-hover;
// 			color: #fff;
// 		}
// 	}
// 	.search-btn-foucs {
// 		background-color: $main-color;
// 		border: 1px solid $main-color-hover;
// 		color: #fff;
// 	}
// }
// .title {
// 	position: relative;
// 	top: 60px;
// 	font-size: 24px;
// 	text-align: center;
// 	color: #fff;
// }
// .des {
// 	width: $small-width - 40px;
// 	height: 37px;
// 	position: relative;
// 	top: 60px;
// 	margin: 0 auto;
// 	padding: 20px;
// 	text-align: center;
// }
.container {
	position: relative;
	top: 50px;
	margin: 0 auto;	
	width: $small-width;
	// @include red;
	ul.c-left {
		position: relative;
		float: left;
		margin: 0 auto;
		.card, .select, .sort {
			position: relative;
			width: 700px;
			height: 212px;
			// margin: 0 auto;
			background-color: #fff;
			padding: 10px;
			margin-bottom: 10px;
			img {
				float: left;
				width: 135px;
				margin-top: 6px;
			}
			.intro {
				// @include red;
				float: left;
				width: 564px;
				.line, .download {
					// @include green;
					padding-left: 20px;
					line-height: 28px;
					vertical-align: top;
					span {
						display: inline-table;
						font-size: 14px;
						&.s-title {
							color: $main-color-hover;
							font-size: 16px;
							font-weight: bold;
							height: 33px;
							// vertical-align: top;
						}
						&.l-title {
							font-weight: bold;
						}
						&.l-intro {
							// @include blue;
							font-size: 12px;
							margin-left: 10px;
						}
						&.l-button {
							margin-left: 10px;
							width: 78px;
							height: 2px;
							background-color: $main-color;
							cursor: pointer;
							line-height: 20px;
							text-align: center;
							color: #fff;
							font-size: 12px;
							-webkit-border: 1px $main-color solid;
							-moz-border: 1px $main-color solid;
							-ms-border: 1px $main-color solid;
							-o-border: 1px $main-color solid;
							border: 1px $main-color solid;
							-webkit-border-radius: 2px;
							-moz-border-radius: 2px;
							-ms-border-radius: 2px;
							-o-border-radius: 2px;
							border-radius: 2px;
							&:hover {
								background-color: $main-color-hover;
							}
						}
						&.l-button-ghost {
							margin-left: 10px;
							width: 78px;
							height: 20px;
							cursor: pointer;
							line-height: 20px;
							text-align: center;
							color: $main-color;
							font-size: 12px;
							-webkit-border: 1px $main-color solid;
							-moz-border: 1px $main-color solid;
							-ms-border: 1px $main-color solid;
							-o-border: 1px $main-color solid;
							border: 1px $main-color solid;
							-webkit-border-radius: 2px;
							-moz-border-radius: 2px;
							-ms-border-radius: 2px;
							-o-border-radius: 2px;
							border-radius: 2px;
							&:hover {
								background-color: $main-color-hover;
								color: #fff;
							}
						}
					}
				}
			}
			.score {
				width: 72px;
				height: 20px;
				position: absolute;
				right: 0px;
				top: 22px;
				font: 12px Helvetica,Arial,sans-serif;
				font-size: 30px;
				color: #ea9b21;
				// font-style: italic;
				// -webkit-border-bottom: 1px $main-color solid;
				// -moz-border-bottom: 1px $main-color solid;
				// -ms-border-bottom: 1px $main-color solid;
				// -o-border-bottom: 1px $main-color solid;
				// border-bottom: 1px $main-color solid;
			}
		}
		.select {
			li.options {
				position: relative;
				border-bottom: 1px dotted #c9c9c9;
				display: list-item;
				font-size: 12px;
				height: 40px;
				span {
					position: relative;
					left: 0;
					top: 10px;
					width: 40px;
				}
				a {
					display: inline-block;
					height: 20px;
					line-height: 20px;
					padding: 0 5px;
					margin-right: 8px;
				}
			}
		}
		.sort {
			height: 16px;
		}
	}
	ul.c-right {
		position: relative;
		float: right;
		background-color: #fff;
		width: 231px;
		height: 1500px;
	}
}


// 点击加载更多
#more {
	position: relative;
	width: $small-width;
	margin: 0 auto;
	.more {
		position: relative;
		width: 720px;
		height: 44px;
		top: 50px;
		line-height: 44px;
		cursor: pointer;
		background-color: #fff;
		color: $main-color;
		font-size: 14px;
		text-align: center;
		margin-bottom: 50px;
	}
}