#scenery {
	.top-img {
		.bg-img {
			width: $large-width;
			margin-left: -$large-width/2;
			background: url(../img/people/top-bg.jpg) no-repeat 718px 0px;
			background-size: auto 100%;
		}
		// .buttons {
		// 	width: 800px;
		// 	margin-left: -320px;
		// }
	}
}
