#scenery {
	.top-img {
		height: 334px;
		.bg-img {
			// left: 0px;
			// width: $large-width;
			// margin-left: 0px;
			background: url(../img/scenery/top-bg.jpg) no-repeat 0px -215px;
			background-size: 100% auto;
		}
		// .buttons {
		// 	width: 800px;
		// 	margin-left: -320px;
		// }
	}
}
