#scenery {
	background-color: $bg-color-less;
//	@include red;
	min-height: 1000px;
	.top-img {
		width: 100%;
		height: 578px;
		background: url(../../img/scenery/top-bg.jpg) no-repeat center -173px;
		background-size: 100% auto;
	}
	.main {
		box-sizing: border-box;
		border: 1px solid #ddd;
		position: relative;
		width: $small-width;
		top: -140px;
//		left: 50%;
//		margin-left: -$small-width/2;
		min-height: 1500px;
		background-color: #fff;
//		@include blue;
	}
}
