<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>.nav_scroll{ position:fixed;top:0;left:0;z-index:1200; width:100%;}

</style>
</head>
<body>
	<div ng-model="">id为1叶子节点个数： </div>
	<div ng-model="">id为2叶子节点个数： </div>
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/underscore/underscore-min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script type="text/javascript">
	$(function() {
		var data = [
		{"id":1, "text":"Office itinerancy", "order":"10", progress: 0.4, open: true, priority:0, project:1 },
		{"id":2, "text":"Office facing", "start_date":"02-04-2013", "duration":"42", progress:0.5, "order":"10", progress: 0.6, "parent":"1", open: true, priority:1 },
		{"id":3, "text":"Furniture installation", "start_date":"11-04-2013", "duration":"35", "order":"20", "parent":"1", progress: 0.6, open: true, priority:1 },
		{"id":4, "text":"The employee relocation", "start_date":"13-04-2013", "duration":"42", "order":"30", "parent":"1", progress: 0.5, open: true, priority:1 },
        {"id":5, "text":"Interior office", "start_date":"02-04-2013", "duration":"35", "order":"3", "parent":"2", progress: 0.6, open: true, priority:0 },
        {"id":6, "text":"Air conditioners check", "start_date":"03-04-2013", "duration":"28", "order":"3", "parent":"2", progress: 0.6, open: true, priority:0 },
        {"id":7, "text":"Workplaces preparation", "start_date":"11-04-2013", "duration":"42", "order":"3", "parent":"3", progress: 0.6, open: true, priority:0 },
        {"id":8, "text":"Preparing workplaces", "start_date":"14-04-2013", "duration":"35", "order":"3", "parent":"4", progress: 0.5, open: true, priority:0 },
        {"id":9, "text":"Workplaces importation", "start_date":"14-04-2013", "duration":"4", "order":"3", "parent":"4", progress: 0.5, open: true, priority:0 },
        {"id":10, "text":"Workplaces exportation", "start_date":"14-04-2013", "duration":"3", "order":"3", "parent":"4", progress: 0.5, open: true, priority:0 },
		{"id":11, "text":"Workplaces exportation", "start_date":"14-04-2013", "duration":"3", "order":"3", "parent":"10", progress: 0.5, open: true, priority:0 },
		{"id":12, "text":"Workplaces exportation", "start_date":"14-04-2013", "duration":"3", "order":"3", "parent":"10", progress: 0.5, open: true, priority:0 }
		];

		parentNode = [{}];
		var i = 0;

		_.each(data, function(e1) {
			parentNode[i] = _(data).chain().map(function(e2, i) {
				console.log('this is e2.'+i +'----' + e2.parent);
				if (e1.id == e2.parent) {
					console.log(e2);
					return e2;
				}
			}).compact().value();
			console.log(parentNode[i]);
			i++;
			console.log('ok');
		})
		parentNode = _.filter(parentNode, function(e){ if(e.length != 0) return e });;
		console.log(parentNode);
		_.each(parentNode, function(e1) {
			e1.size = 0;
			//@e2 第一个数组的第一个对象
			_.each(e1, function(e2) {
				check(e2);
				debugger;
				function check(obj) {
					_.each(parentNode, function(e) {
						debugger;
						_.each(e, function(e_obj) {
							if (obj.id == e_obj.parent) {
								check(e_obj);
								debugger;
							}
//								e1.size++;
						})
					})
				}
//			debugger;
//				if (e2.tag == 'hasNone') e1.size++;
			});
			console.log(e1.size);
		});

	})
</script>
</script>
</body>
</html>
