#index {
	// 第1部分：导航加背景图
	.wrap1 {
		.album-category {
			margin-left: -$large-width/2;
		}
		.slider {
			height: 470px;
			div.flexslider {
				height: 482px;
				ul.slides li {
					height: 474px;
					span {
						width: $large-width;
						height: 474px;
						&.slider1 {
							background: url(../img/slider/slider1.jpg) no-repeat center center;
						}
						&.slider2 {
							background: url(../img/slider/slider2.jpg) no-repeat center center;
						}
						&.slider3 {
							background: url(../img/slider/slider3.jpg) no-repeat center center;
						}
					}
				}
			}
		}
		.slides-control {
			.content {
				width: $large-width;
			}
		}
	}
	.category {
		top: -502px;
		margin: 0 auto;
		.layout {
			width: $large-width;
			margin-left: -$large-width/2;
		}
	}
	.side-nav {
		width: 228px;
		height: 374px;
		top: 49px;
		.img-top {
			width: 228px;
			height: 150px;
			.bg-glass {
				top: 23px;
				width: 206px;
				height: 106px;
				.word-wrap {
					span {
						width: 194px;
						margin-left: -97px;
					}
					.word-up {
						top: 15px;
						font-size: 24px;
					}
					.word-line {
						top: 56px;
					}
					.word-down {
						top: 70px;
						font-size: 18px;
					}
				}
			}
		}
		.album-select {
			width: 196px;
			top: 12px;
			span.album-title {
				font-size: 14px;
			}
			.album-no {
				.left {
					font-size: 18px;
				}
			}
		}
		.btn {
			height: 50px;
			border-top: 1px solid #ddd;
			div {
				width: 113px;
				line-height: 50px;
				font-size: 14px;
			}
		}
	}
	.album-category {
		height: 468px;
		li {
			height: 78px;
			.title {
				padding-top: 18px;
			}
			.tag {
				span {
					padding-bottom: 17px;
				}
			}
		}
	}
	.album-category-detail {
		width: 744px;
		height: 468px;
		li {
			dl {
				padding-top: 40px;
				dt {
					font-size: 19px;
				}
				dd {
					margin-top: 20px;
					a {
						font-size: 14px;
						line-height: 30px;
					}
				}
				&.hover-nav-two {
					padding-top: 45px;
				}
			}
			.bg-img {
				width: 490px;
				height: 327px;
			}
		}
	}
	.wrap2 {
//		top: -506px;
		& > div {
			width: 1252px;
			margin-left: -$large-width/2;
			.nav-category {
				width: $large-width - 2px;
				a.more {
					margin-left: 1015px;
				}
			}
			ul {
				height: 478px;
				padding-left: 43px;
				li {
					padding: 8px 35px 6px 0;
				}
			}
			.bg {
				width: 1203px;
				height: 556px;
			}
		}
	}
	.wrap3 {
		height: 510px;
		.sub-wrap {
			top: 82px;
			.logo {
				transform: scale(1.1);
				-webkit-transform: scale(1.1);
			}
			.text {
				font-size: 18px;
			}
		}
	}
}
