#index {
	// 第1部分：导航加背景图
	.wrap1 {
		.album-category {
			margin-left: -$large-width/2;
		}
		.slider {
			height: 470px;
			div.flexslider {
				height: 482px;
				ul.slides li {
					height: 474px;
					span {
						width: $large-width;
						height: 474px;
						&.slider1 {
							background: url(../img/slider/slider1.jpg) no-repeat center center;
						}
						&.slider2 {
							background: url(../img/slider/slider2.jpg) no-repeat center center;
						}
						&.slider3 {
							background: url(../img/slider/slider3.jpg) no-repeat center center;
						}
					}
				}
			}
		}
		.slides-control {
			.content {
				width: $large-width;
			}
		}
	}
	.category {
		top: -502px;
		margin: 0 auto;
		.layout {
			width: $large-width;
			margin-left: -$large-width/2;
		}
	}
	.side-nav {
		//@include red;
		position: absolute;
		width: 228px;
		height: 374px;
		right: 1px;
		top: 49px;
		background: #fff;
		.img-top {
			position: relative;
			width: 228px;
			height: 150px;
			background: url(../../img/side_nav.jpg) no-repeat center center;
			.bg-glass {
				position: relative;
				top: 23px;
				margin: 0 auto;
				width: 206px;
				height: 106px;
				background-color: rgba(255, 255, 255, .5);
				.word-wrap {
					position: relative;
					span {
						display: block;
						width: 194px;
						text-align: center;
						color: #333;
						left: 50%;
						margin-left: -97px;
						font-weight: bold;
					}
					.word-up {
						position: absolute;
						top: 15px;
						font-size: 24px;
					}
					.word-line {
						position: absolute;
						top: 56px;
						height: 1px;
						background-color: #333;

					}
					.word-down {
						position: absolute;
						top: 70px;
						font-size: 18px;
					}
				}
			}
		}
		.album-select {
			position: relative;
			width: 196px;
			margin: 0 auto;
			top: 12px;
			span.album-title {
				&:hover {
					color: $main-color;
				}
				//@include red;
				display: inline-table;
				line-height: 30px;
				color: #333;
				font-size: 14px;
				cursor: pointer;
				padding-left: 22px;
				padding-right: 12px;
			}
			.album-no {
				position: absolute;
				top: -1px;
				left: -2px;
				.left {
					display: block;
					//float: right;
					cursor: pointer;
					font-size: 18px;
					line-height: 30px;
					color: $main-color;
					font-style: italic;

				}
			}
		}
		.btn {
			position: absolute;
			bottom: 0;
			height: 50px;
			border-top: 1px solid #ddd;
			div {
				position: relative;
				float: left;
				border-right: 1px solid #ddd;
				width: 113px;
				background-color: #f8f8f8;
				text-align: center;
				line-height: 50px;
				font-size: 14px;
				a {
					color: $main-color;
				}
				span {
					cursor: pointer;
					i {
						position: relative;
						display: inline-block;
						top: 1px;
						margin-right: 7px;
						font-size: 16px;
					}
					&:hover {
						text-decoration: underline;
					}
				}
				&:last-child {
					border-right: 1px solid #f8f8f8;
				}
			}
		}
	}
	.album-category {
		height: 468px;
		li {
			height: 78px;
			.title {
				padding-top: 18px;
			}
			.tag {
				span {
					padding-bottom: 17px;
				}
			}
		}
	}
	.album-category-detail {
		width: 744px;
		height: 468px;
	}
	.wrap2 {
//		top: -506px;
		& > div {
			width: 1252px;
			margin-left: -$large-width/2;
			.nav-category {
				width: $large-width - 2px;
				a.more {
					margin-left: 1015px;
				}
			}
			ul {
				height: 478px;
				padding-left: 43px;
				li {
					padding: 8px 35px 6px 0;
				}
			}
			.bg {
				width: 1203px;
				height: 556px;
			}
		}
	}
	.wrap3 {
		height: 510px;
		.sub-wrap {
			top: 82px;
			.logo {
				transform: scale(1.1);
				-webkit-transform: scale(1.1);
			}
			.text {
				font-size: 18px;
			}
		}
	}
}
