ul.album-list {
	position: relative;
	left: 50%;
	margin-left: -$small-width/2;
	margin-top: 30px;
	width: 1003px;
	li {
		float: left;
		width: 157.6px;
		height: 226px;
		padding: 0 43px 13px 0;
		//				border: 1px solid blue;
		div.album-wrap {
			width: 155px;
			//					border: 1px solid yellow;
			font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
			.album-frame {
				position: relative;
				width: 155px;
				height: 155px;
				background: url(../img/album_frame.png) no-repeat 0 0;
				padding: 1px 0 0 1px;
				background-position: -25px -209px;
				.count {
					position: absolute;
					right: 15px;
					bottom: 15px;
					height: 22px;
					line-height: 22px;
					color: #fff;
					-webkit-border-radius: 3px;
					border-radius: 3px;
					padding: 0 11px;
					cursor: pointer;
					vertical-align: middle;
					background: url(../img/count_bg.png) repeat-x 0 0;
					_background: #555;
				}
			} // album-frame
			.album-detail {
				.album-title {
					margin-top: 6px;
					color: #555;
				}
				.album-date {
					margin-top: 4px;
					width: 155px;
					white-space: nowrap;
					color: #888;
					cursor: default;
				}
			}
		}
	}
}

@media screen and (min-width: 1400px) {
	ul.album-list {
		margin-left: -$large-width/2;
		width: 1252px;
		li {
			padding: 0 51px 14px 0;
		}
	}
	#love {
        ul.album-list {
            margin-left: -549.5px;
        }
    }
}
