#about {
	.top-img {
		position: relative;
		background-color: #161616;
		//		display: table;
		//		width: 100%;
		.bg-img {
			position: relative;
			margin: 0 auto;
			width: 100%;
			background: url(../../img/top-bg.jpg) no-repeat 0 -200px;
			background-size: 100% auto;
		}
		//background-color: rgb(10, 10, 31);
		// height: 852px;
		height: 300px;
		.pos-wrap {
			position: absolute;
			top: 0;
			width: $small-width;
			left: 50%;
			margin-left: -$small-width/2;
			// height: 852px;
			height: 260px;
			//			@include red;
			.text {
				position: relative;
				top: 116px;
				width: 500px;
				text-align: center;
				margin: 0 auto;
				font-family: "FangSong";
				font-size: 26px;
				color: #fff;
				i {
					font-family: Helvetica, Arial, sans-serif;
					font-size: 36px;
				}
			}
			.qr-code {
				position: absolute;
				top: 20px;
				left: 0;
				background: url(../../img/about/img.jpg) no-repeat center center;
				background-size: 100% auto;
				width: 128px;
				height: 80px;
			}
			.button {
				position: absolute;
				box-sizing: border-box;
				width: 138px;
				height: 40px;
				// -webkit-border-radius: 3px;
				// -moz-border-radius: 3px;
				// -ms-border-radius: 3px;
				// -o-border-radius: 3px;
				// border-radius: 3px;
				cursor: pointer;
				right: 1px;
				text-align: center;
				font-size: 18px;
				line-height: 40px;
				border: 1px #fff solid;
				color: #fff;
				&:hover {
					background-color: $main-color;
					border: 1px $main-color solid;
					color: #fff;
				}
				&.star {
					top: 110px;
				}
				&.map {
					top: 170px;
					// border: 2px $main-color solid;
					// background-color: $main-color;
				}
			}
		}
	}
	.intro {
		width: 100%;
		background-color: #fff;
		.content {
			position: relative;
			display: inline-block;
			//@include red;
			top: 70px;
			width: $small-width;
			left: 50%;
			margin-left: -$large-width/2;
			//height: 650px;
			margin-bottom: 155px;
			.title {
				position: relative;
				margin: 0 auto;
				text-align: center;
				width: $large-width;
				height: 118px;
				top: 25px;
				margin-bottom: 10px;
				//				@include green;
				.line {
					position: relative;
					margin: 0 auto;
					top: 18px;
					width: $large-width;
					height: 1px;
					background-color: #D0DEDB;
				}
				.name1 {
					position: absolute;
					width: 150px;
					//top: 35px;
					//@include red;
					//top: -1px;
					line-height: 30px;
					font-size: 30px;
					left: 50%;
					margin-left: -75px;
					background-color: #fff;
				}
				.name2 a {
					position: relative;
					top: 50px;
					color: $main-color;
					font-size: 16px;
				}
			} //title
			.c-r {
				position: relative;
				width: 150px;
				line-height: 30px;
				background-color: #fff;
				left: 0;
				font-size: 22px;
				top: 27px;
				color: #666;
			}
			.team-intro {
				//@include  red;
				height: 600px;
				.title-wrap {
					width: 700px;
					height: 100px;
					position: relative;
					left: 0;
					top: -12px;
					//@include blue;
					.circle {
						position: relative;
						width: 70px;
						height: 70px;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						background-color: $main-color;
						.number {
							position: absolute;
							font-size: 35px;
							color: #fff;
							top: 14px;
							left: 15px;
						}
					}
					.square {
						position: absolute;
						top: 65px;
						left: 9px;
						width: 85px;
						height: 11px;
						//@include green;
						border-top: 1px solid $main-color;
						transform: rotate(-45deg);
						background-color: #fff;
					}
					.name {
						width: 500px;
						//@include green;
						position: absolute;
						left: 78px;
						top: -13px;
						span {
							display: block;
							color: #999;
						}
						.name-line {
							width: 432px;
							height: 1px;
							background-color: $main-color;
						}
						.name-up {
							font-size: 26px;
							line-height: 50px;
							letter-spacing: 1px;
							text-indent: 5px;
						}
						.name-down {
							font-size: 20px;
							line-height: 42px;
							text-indent: 5px;
						}
					}
				}
				.text-wrap {
					position: relative;
					top: 0;
					left: 83px;
					width: 424px;
					font-size: 17px;
					color: #999;
					//@include blue;
					line-height: 31px;
				}
				.img-wrap {
					position: absolute;
					top: 119px;
					right: 0;
					width: 555px;
					height: 404px;
					&.t1 {
						background: url(../../img/about/team_intro_1.jpg) no-repeat center;
						background-size: 100% auto;
						border: 1px solid #ddd;
					}
					&.t2 {
						background: url(../../img/about/team_intro_2.jpg) no-repeat center;
						background-size: 100% auto;
					}
					&.t3 {
						top: 1320px;
						background: url(../../img/about/team_intro_3.jpg) no-repeat center;
						background-size: 100% auto;
					}
					&.t4 {
						background: url(../../img/about/team_intro_4.jpg) no-repeat center;
						background-size: 100% auto;
					}
				}
			}
			.team-intro.four {
				margin-bottom: -70px;
			}
			.team-intro:nth-child(2n-1) {
				.title-wrap {
					width: 511px;
					left: 691px;
					//@include blue;
				}
				.text-wrap {
					left: 778px;
				}
				.img-wrap {
					right: auto;
					top: 718px;
					&.t4 {
						top: 1882px;
					}
				}
			}
			.t-line {
				width: $large-width;
				background-color: $main-color;
				height: 1px;
			}
			.cards {
				position: relative;
				width: 908px;
				left: 0;
				margin-bottom: 68px;
				// @include blue;
				.card-item {
					display: inline-block;
					position: relative;
					box-sizing: border-box;
					width: 280px;
					height: 300px;
					margin-right: 28px;
					margin-top: 28px;
					//										@include green;
					background-color: #eee;
					overflow: hidden;
					.card-item-bg {
						position: absolute;
						top: 0;
						overflow: hidden;
						width: 279px;
						height: 600px;
						cursor: pointer;
						//						@include red
						.transparent {
							width: 279px;
							height: 300px;
							background-color: transparent;
						}
						.color {
							width: 279px;
							height: 300px;
							background-color: $main-color;
							color: #fff;
							font-size: 14px;
							padding-top: 15px;
							//							position: absolute;
							//						top: 176px;
							&>span {
								display: inline-block;
								width: 246px;
								margin-left: 15px;
								font-size: 14px;
								cursor: pointer;
								//							@include red;
								&.line1 {
									position: relative;
									font-size: 24px;
									line-height: 36px;
								}
								&.line2 {
									line-height: 22px;
									span {
										display: inline-table;
										&.ml {
											margin-left: 25px;
										}
									}
								}
								&.line3 {
									margin-top: 20px;
									padding-top: 20px;
									border-top: 1px #fff solid;
									line-height: 22px;
									color: #fff;
								}
							}
							.by {
								margin-right: 10px;
							}
						}
						-webkit-transition: top .3s ease-in;
						-o-transition: top .3s ease-in;
						transition: top .3s ease-in;
						//						-webkit-opacity: .8;
						//						-moz-opacity: .8;
						//						-ms-opacity: .8;
						//						-o-opacity: .8;
						//						opacity: .8;
						&:hover {
							top: -300px;
						}
					}
					img {
						position: absolute;
					}
					div.intro {
						position: absolute;
						top: 176px;
						background-color: #eee;
						&>span {
							display: inline-block;
							width: 246px;
							margin-left: 12px;
							font-size: 14px;
							//							@include red;
							&.line1 {
								position: relative;
								font-size: 24px;
								line-height: 36px;
							}
							&.line2 {
								line-height: 22px;
								span {
									display: inline-table;
									&.ml {
										margin-left: 25px;
									}
								}
							}
							&.line3 {
								line-height: 22px;
								color: #666;
								margin-top: 6px;
							}
						}
					}
				}
			}
			.say {
				position: relative;
				top: -10px;
				margin-bottom: 60px;
				.say-wrap {
					position: relative;
					margin: 0 auto;
					width: 556px;;
					height: 177px;
					//					@include red;
					span {
						display: inline-block;
						vertical-align: top;
						&.avator {
							&.a1 {background: url(../../img/about/avatar1.jpg) no-repeat center center;background-size: 100% auto;}
							&.a2 {background: url(../../img/about/avatar2.jpg) no-repeat center center;background-size: 100% auto;}
							&.a3 {background: url(../../img/about/avatar3.jpg) no-repeat center center;background-size: 100% auto;}
							&.a4 {background: url(../../img/about/avatar4.jpg) no-repeat center center;background-size: 100% auto;}
							position: absolute;
							left: 0;
							top: 0;
							width: 100px;
							height: 100px;
							-webkit-border-radius: 50%;
							-moz-border-radius: 50%;
							-ms-border-radius: 50%;
							-o-border-radius: 50%;
							border-radius: 50%;
						}
						&.name {
							position: absolute;
							top: 0;
							left: 101px;
							font-size: 18px;
							margin-left: 22px;
							.career {
								color: #666;
								font-size: 16px;
							}
						}
						&.arrow {
							position: absolute;
							top: 56px;
							left: 100px;
							width: 0;
							height: 0;
							border-top: 8px #fff solid;
							border-bottom: 8px #fff solid;
							border-left: 11px #fff solid;
							border-right: 11px #eee solid;
						}
						&.u-content {
							position: absolute;
							top: 35px;
							left: 122px;
							width: 556px;
							height: 95px;
							background-color: #eee;
							-webkit-border-radius: 4px;
							-moz-border-radius: 4px;
							-ms-border-radius: 4px;
							-o-border-radius: 4px;
							border-radius: 4px;
							color: #666;
							font-size: 14px;
							line-height: 23px;
							padding: 15px;
							box-sizing: border-box;
						}
					}
				}
				.say-wrap:nth-child(2n) {
					//					@include green;
					span {
						&.avator {
							right: 0;
							left: auto;
						}
						&.name {
							text-align: right;
							right: 101px;
							left: auto;
							margin-left: 0;
							margin-right: 22px;
						}
						&.arrow {
							left: auto;
							right: 100px;
							border-left: 11px #eee solid;
							border-right: 11px #fff solid;
						}
						&.u-content {
							right: 40px;
						}
					}
				}
			}
			.wechat {
				position: relative;
				margin: 0 auto;
				width: $large-width - 2px;
				height: 400px;
				background: url(../../img/about/wechat.jpg) no-repeat center center;
				background-size: 100% auto;
				top: -5px;
			}
			.copyright {
				position: relative;
				top: 20px;
			}
			.note {
				width: $large-width;
				position: relative;
				top: 43px;
				padding-bottom: 120px;
				//@include red;
				.line-wrap {
					//@include blue;
					line-height: 30px;
					.no {
						position: relative;
						//top: -24px;
						color: $main-color;
						font-size: 26px;
						font-style: italic;
						display: inline-block;
					}
					.n-content {
						//@include red;
						display: inline-block;
						width: 1156px;;
						color: #666;
						position: relative;
						left: 10px;
						font-size: 15px;
						padding: 8px;
					}
				}
			}
		}
	}
	// 第3部分：二维码
	.wrap3 {
		position: relative;
		//	top: -502px;
		width: 100%;
		height: 450px;
		//	&:before {
		//		content: "";
		//		display: inline-block;
		//		padding-bottom: 12%;
		//		width: 0;
		//	}
		background-color: #fff;
		.sub-wrap {
			position: relative;
			margin: 0 auto;
			width: 380px;
			height: 300px;
			text-align: center;
			top: 56px;
			.logo {
				width: 111px;
				height: 73px;
				background: url(../../img/sprite.png) no-repeat;
				margin: 0 auto;
				transform: scale(.9);
				-webkit-transform: scale(.9);
			}
			.text {
				margin-top: 72px;
				margin-bottom: 45px;
				font-size: 20px;
				font-family: "FangSong"
			}
			.QR-code {
				width: 285px;
				height: 108px;
				background: url(../img/sprite.png) no-repeat 0 -159px;
				margin: 0 auto;
			}
			.QR-text {
				font-family: "FangSong";
				font-size: 14px;
				span {
					margin: 5px;
				}
			}
		}
		.line-bt {
			position: absolute;
			bottom: 0;
			width: 100%;
			&:before {
				content: "";
				display: inline-block;
				padding-bottom: 0.78%;
				width: 0;
			}
			background-color: $grey;
		}
	}
}

//@keyframes slideHintShake{0%{bottom:40px}25%{bottom:50px}50%{bottom:40px}75%{bottom:30px}100%{bottom:40px}}
