#about {
	.top-img {
//		height: 684px;
//		background-size: 2400px 1600px;
		.pos-wrap {
			// @include red;
			width: $large-width;
			margin-left: -$large-width/2;
		}
	}
	.main {
		width: $large-width;
	}
	.wrap5 {
		background: url(../img/about/wrap5_large.jpg) no-repeat center center;
		background-size: 1924px 394px;
		height: 394px;
	}
	.intro {
		.content {
			width: $large-width;
			.cards {
				width: 1382px
			}
			.say {
				.say-wrap {
					width: $large-width;
				}
				.say-wrap:nth-child(2n) {
					span {
						&.content {
							right: -204px;
						}
					}
				}
			}
		}
	}
}
