<div class="line-bt"></div>
<footer>
	<div class="wrap">
		<div class="left">
			<div class="title">
				<img src="./img/logo_name.png" alt="" width="101.6" height="15">
			</div>
			<div class="info">坐标：南京/杭州/上海 </div>
			<div class="info">© 2015 苏ICP备15056713号</div>
		</div>
		<div class="middle">
			<p>
				<a title="暂未开通"><i class="fa fa-weixin"></i></a>
				<a title="暂未开通"><i class="fa fa-qq"></i></a>
				<a title="暂未开通"><i class="fa fa-weibo"></i></a>
				<a title="暂未开通"><i class="fa fa-envelope-o"></i></a>
			</p>
		</div>
		<div class="right">
			<div class="info">人像/胶片：<a href="http://weibo.com/u/1942937155" target="_blank">摄影师羊驼</a></div>
			<div class="info">风光/印象：<a href="http://weibo.com/u/2378141420" target="_blank">张宇卿啊哦</a></div>
			<div class="info">人文/开发：<a href="http://weibo.com/u/2378141420" target="_blank">小木瓜DONG</a></div>
		</div>
	</div>
</footer>

<div id="scrollUp">
	<div class="wrap-scroll">
		<i class="fa fa-angle-up"></i>
	</div>
</div>
<script>
	$(window).scroll(function () {
		var scrollY = $(document).scrollTop(); // 获取垂直滚动的距离，即滚动了多少

		if (scrollY > 300) { //如果滚动距离大于300px显示
			$('#scrollUp').show();
		} else {
			$('#scrollUp').hide();
		}
	});
	$('#scrollUp').click(function () {
		$("html, body").animate({
			scrollTop: "0px"
		}, {
			duration: 400,
			easing: "swing"
		});
		return false;
	});
</script>
