<nav>
	<div class="nav-top">
		<div class="nav-top-detail">
			<ul class="left">
				<li><a href="http://pp.163.com/square" target="_blank">网易摄影</a></li>
				<li><a href="http://www.lofter.com" target="_blank">LOFTER</a></li>
				<li><a href="http://www.tuchong.com" target="_blank">图虫网</a></li>
			</ul>
			<ul class="right">
				<li>官方微博</li>
				<li>微信公众号</li>
				<i class="i-mobile"></i>
				<li class="mobile">手机版网页</li>
				<li>友情链接</li>
			</ul>
		</div>
	</div>
	<div class="nav-header">
		<div class="content">
			<img src="./img/logo_name.png" alt="" width="203.2" height="30">
			<div class="search-bar">
				<input class="search-input">
				<a class="search-btn">搜全站</a>
			</div>
		</div>
	</div>
	<div class="nav-bar">
		<div class="nav-bar-menu">
			<a href="#/"><span class="index f-fl" ng-class="{active: navState[0]}"><i class="fa fa-list-ul f-mr8"></i>首页相册分类</span></a>
			<a href="#/people/picwall"><span class="f-fl" ng-class="{active: navState[1]}">环境人像</span></a>
			<a href="#/private/picwall"><span class="left" ng-class="{active: navState[2]}">私房写真</span></a>
			<a href="#/scenery/picwall"><span class="left" ng-class="{active: navState[3]}">风光人文</span></a>
			<a href="#/love/picwall"><span class="left" ng-class="{active: navState[4]}">国外摄影</span></a>
			<a href="#/activity"><span class="f-fl" ng-class="{active: navState[5]}">拍摄活动</span></a>
			<a href="#/about"><span class="right" ng-class="{active: navState[6]}"><i></i>关于我们</span></a>
		</div>
	</div>
</nav>

<script>
	$(function () {
		$('.nav li').click(function () {
			$("li").removeAttr("class");
			$(this).addClass('active')
		});
		$('.search-bar').focusin(function () {
			$(this).find('.search-btn').addClass('search-btn-foucs')
		});
		$('.search-bar').focusout(function () {
			$(this).find('.search-btn').removeClass('search-btn-foucs')
		});

		$('.search-btn').click(function () {
			alert('系统警告，累了=_=!');
		});
		//导航栏滚动悬浮
//		$('.nav-bar').stickUp();
		$(window).scroll(function () {
			var scrollY = $(document).scrollTop(); // 获取垂直滚动的距离，即滚动了多少
			if (scrollY > 1) { //如果滚动距离大于100px悬浮
				$('.nav-bar').css({position: "fixed", top: "0px"});
			} else {
				$('.nav-bar').css({position: "relative"});
			}
		});
	});
</script>
