<nav>
	<div class="nav-top">
		<div class="nav-top-detail">
			<ul class="left">
				<li>网易摄影</li>
				<li>POCO摄影</li>
				<li><a href="http://tuchong.com/" target="_blank">图虫网</a></li>
				<!--				<li>旅游攻略</li>-->
			</ul>
			<ul class="right">
				<li>微博账号</li>
				<li>微信公众号</li>
				<i class="i-mobile"></i>
				<li class="mobile">手机版网页</li>
				<li><a href="life.html">友情链接</a></li>
			</ul>
		</div>
	</div>
	<div class="nav-header">
		<div class="content">
			<img src="./img/logo_name.png" alt="" width="203.2" height="30">
			<div class="search-bar">
				<input class="search-input">
				<a class="search-btn">搜全站</a>
			</div>
		</div>
	</div>
	<div class="nav-bar">
		<div class="nav-bar-menu">
			<a href="#/"><span class="index f-fl" ng-class="{active: navState[0]}"><i class="fa fa-list-ul f-mr8"></i>首页相册分类</span></a>
			<a href="#/people/picwall"><span class="f-fl" ng-class="{active: navState[1]}">人像摄影</span></a>
			<a href="#/scenery/west"><span class="left" ng-class="{active: navState[2]}">人文城市</span></a>
			<a href="#/humanity/nanking"><span class="left" ng-class="{active: navState[3]}">自然风光</span></a>
			<a href="#/impression/west"><span class="left" ng-class="{active: navState[4]}">印象系列</span></a>
			<a href="#/love/guest"><span class="f-fl" ng-class="{active: navState[5]}">拍摄活动</span></a>
			<a href="#/about"><span class="right" ng-class="{active: navState[6]}"><i></i>关于我们</span></a>
		</div>
	</div>
</nav>

<script>
	$(function () {
		$('.nav li').click(function () {
			$("li").removeAttr("class");
			$(this).addClass('active')
		});
		$('.search-bar').focusin(function () {
			$(this).find('.search-btn').addClass('search-btn-foucs')
		});
		$('.search-bar').focusout(function () {
			$(this).find('.search-btn').removeClass('search-btn-foucs')
		});

		$('.search-btn').click(function () {
			alert('啊，这只程序猿好像还没来得及写搜索功能-_-!');
		});
		//导航栏滚动悬浮
//		$('.nav-bar').stickUp();
		$(window).scroll(function () {
			var scrollY = $(document).scrollTop(); // 获取垂直滚动的距离，即滚动了多少
			if (scrollY > 100) { //如果滚动距离大于100px悬浮
				$('.nav-bar').css({position: "fixed", top: "0px"});
			} else {
				$('.nav-bar').css({position: "relative"});
			}
		});
	});
</script>
