html,
body {
	height: 100%;
	font-family: "Microsoft YaHei";
	background-color: #fff;
}

.container {
	width: 100%;
	height: 100%;
}

.top-img {
	display: table;
	width: 100%;
//	background: url(../img/top_bg.jpg) no-repeat center center;
//	background: url(../img/about-top.jpg) no-repeat center center;
//	background: url(../img/bg-lg.jpg) no-repeat center center;
	background: url(../img/about/img-top.jpg) no-repeat center center;
	background-size: 1400px 933px;
	height: 394px;
	position: relative;
}

.wrap2 {
	background-color: #fff;
	height: 394px;
}
.mask {
	background-color: #88ad99;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	-ms-opacity: .5;
	-o-opacity: .5;
	opacity: .5;
	height: 394px;
}
.wrap3 {
	background: url(../img/about/wrap2.jpg) no-repeat center center;
	background-size: 1400px 933px;
	height: 394px;
}
.wrap5 {
	background: url(../img/about/wrap5.jpg) no-repeat center center;
	background-size: 1400px 933px;
	height: 394px;
}












.all-wrap {
//	background-color: #fff3e3;
//	top: -1px;
//	border: 1px #f00 solid;
}
.main {
	//	box-sizing: border-box;
	//	border: 1px solid #ddd;
	position: relative;
	width: $small-width;
	//	height: 1800px;
	margin: 0 auto;
	margin-bottom: 50px;
	.sub-nav {
		margin-top: 50px;
		width: 100%;
		height: 40px;
		border: 1px solid #eee;
		cursor: default;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		//		span.tag {
		//			background-color: $main-color;
		//			width: 4px;
		//			height: 40px;
		//			margin-right: 12px;
		//		}
		span.title {
			height: 40px;
			width: 120px;
			line-height: 40px;
			font-size: 16px;
			background-color: $main-color;
			color: #fff;
		}
		.category {
			margin-right: 10px;
			height: 40px;
			line-height: 40px;
			span {
				height: 22px;
				line-height: 22px;
				font-size: 13px;
				width: 70px;
				border-left: 1px solid #eee;
				cursor: pointer;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				-ms-border-radius: 2px;
				-o-border-radius: 2px;
				border-radius: 2px;
				&:first-child {
					border-left: 1px solid #fff;
				}
				&:hover,
				&.active {
					background-color: $main-color;
					color: #fff;
					//					padding: 3px;
				}
				&:last-child:hover,
				&:last-child.active {
					background-color: #ed4040;
					color: #fff;
				}
			}
		}
	} // sub-nav
	.content {
		height: 800px;
		//		border: 1px #eee solid;
		p {
			padding-top: 20px;
			text-indent: 14px;
			font-size: 14px;
			line-height: 28px;
			letter-spacing: 1px;
			//			font-family: 'STFangsong';
			span.mc {
				color: $main-color;
				font-size: 16px;
			}
		}
		div.pher-show {
			position: relative;
			margin-top: 25px;
			div.card {
				display: inline-block;
				width: 240px;
				height: 360px;
				margin-left: 14px;
				margin-right: 14px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-ms-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;
				background-color: #fff;
				border: 1px solid $main-color;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
				.bg-top {
					height: 120px;
					width: 240px;
					background: url(../img/bg-top2.jpg) no-repeat center center;
					-webkit-border-top-left-radius: 4px;
					-moz-border-top-left-radius: 4px;
					-ms-border-top-left-radius: 4px;
					-o-border-top-left-radius: 4px;
					border-top-left-radius: 4px;
					-webkit-border-top-right-radius: 4px;
					-moz-border-top-right-radius: 4px;
					-ms-border-top-right-radius: 4px;
					-o-border-top-right-radius: 4px;
					border-top-right-radius: 4px;
					&[no='1'] {
						background: url(../img/bg-top1.jpg) no-repeat center center;
					}
					&[no='3'] {
						background: url(../img/bg-top3.jpg) no-repeat center center;
					}
				}
				img {
					width: 100px;
					height: 100px;
					margin-top: -53px;
					border: 3px solid #fff;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-ms-border-radius: 50%;
					-o-border-radius: 50%;
					border-radius: 50%;
					box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
				}
				span.title1,.title2 {
					display: block;
//					border: 1px #ddd solid;
					height: 30px;
					line-height: 30px;
					font-size: 14px;
					width: 200px;
					text-align: center;
				}
				span.title2 {
					font-size: 13px;
				}
				.icon {
					display: block;
					padding-left: 15px;
					height: 30px;
					line-height: 30px;
					text-align: left;
					width: 230px;
//					border: 1px #ddd solid;
					&[no='1'] {
						margin-top: 15px;
					}
					i {
						color: #888;
						margin-right: 13px;
					}
					i.fa-location-arrow {
						margin-right: 16px;
					}
				}
			}
		}
	}
	ul {
		margin-top: 30px;
		width: 1003px;
		li {
			float: left;
			width: 157.6px;
			height: 226px;
			padding: 0 43px 13px 0;
			//				border: 1px solid blue;
			div.album-wrap {
				width: 155px;
				//					border: 1px solid yellow;
				font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
				.album-frame {
					position: relative;
					width: 155px;
					height: 155px;
					background: url(../img/album_frame.png) no-repeat 0 0;
					padding: 1px 0 0 1px;
					background-position: -25px -209px;
					.count {
						position: absolute;
						right: 15px;
						bottom: 15px;
						height: 22px;
						line-height: 22px;
						color: #fff;
						-webkit-border-radius: 3px;
						border-radius: 3px;
						padding: 0 11px;
						cursor: pointer;
						vertical-align: middle;
						background: url(../img/count_bg.png) repeat-x 0 0;
						_background: #555;
					}
				} // album-frame
				.album-detail {
					.album-title {
						margin-top: 6px;
						color: #555;
					}
					.album-date {
						margin-top: 4px;
						width: 155px;
						white-space: nowrap;
						color: #888;
						cursor: default;
					}
				}
			}
		}
	}
}
footer {
	position: relative;
}
