#activity {
	.top-img {
		height: 400px;
		.text {
			width: $large-width;
			margin-left: -$large-width/2;
			.title {
				font-size: 34px;
			}
			.word {
				font-size: 16px;
				padding: 7px 18px 8px;
				line-height: 25px;
				i {
					font-size: 30px;
				}
			}
		}
	}
	.main {
		width: $large-width;
		top: -140px;
		.wrap-intro,
		.wrap-show {
			h2.headline-1.custom-title {
				//margin: 50px 960px 15px -1px;
			}
			.img img {
				//max-width: 1100px;
				//margin-left: 50px;
				//margin-top: 10px;
			}
		}
	}
}
