#activity,
#love {
	background-color: $bg-color-less;
	//	@include red;
	min-height: 1000px;
	.top-img {
		position: relative;
		width: 100%;
		height: 420px;
		&.activity-top {
			background: url(../../img/impression/top-bg.jpg) no-repeat center 0px;
			background-size: 100% auto;
		}
		&.love-top {
			background: url(../../img/love/top-bg.jpg) no-repeat center 0px;
			background-size: auto 100%;
		}
		.text {
			//			@include red;
			position: absolute;
			left: 50%;
			margin-left: -$small-width/2;
			width: $small-width;
			color: #fff;
			height: 400px;
			.title {
				//				@include blue;
				display: table;
				font-size: 34px;
				margin-top: 50px;
				//				background: rgba(0,0,0,0.5);
				//				padding: 10px 30px;
				font-family: "SimSun", "Segoe UI", "Helvetica", sans-serif;
			}
			.word {
				//				@include green;
				display: table;
				margin-top: 40px;
				background: rgba(0, 0, 0, 0.3);
				font-size: 16px;
				padding: 5px 22px 8px;
				font-family: 'FangSong';
				i {
					font-family: Helvetica, Arial, sans-serif;
					font-size: 30px;
				}
			}
		}
		.buttons {
			position: absolute;
			z-index: 1;
			bottom: 119px;
			width: 600px;
			left: 50%;
			margin-left: -300px;
			overflow: visible;
//										 border: 1px #0f0 solid;
			span {
				position: relative;
				cursor: pointer;
				float: left;
				width: 100px;
				height: 45px;
				color: rgba(255, 255, 255, 0.5);
				line-height: 30px;
				font-size: 16px;
				text-align: center;
//										border: 1px #f00 solid;
			}
			span.active,
			span:hover {
				color: #fff;
			}
			span.active:after {
				position: absolute;
				bottom: 0;
				left: 50%;
				content: '';
				margin-left: -10px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #fff;
			}
		}
	}
	.main {
		box-sizing: border-box;
		border: 1px solid #ddd;
		position: relative;
		width: $small-width;
		top: -120px;
		min-height: 1500px;
		padding-bottom: 45px;
		background-color: #fff;
		//		@include blue;
		.wrap-intro, .wrap-show {
            position: relative;
			h2.headline-1.custom-title {
				position: relative;
				border-left: 12px $main-color solid;
				font-size: 22px;
				display: block;
				font-weight: 500;
				line-height: 22px;
				margin: 50px 720px 24px -1px;
//				@include blue;
				background: url(../../img/title-line.png) repeat-x;
				overflow: hidden;
				.headline-content {
					line-height: 1;
					color: #000;
					background: #fff;
					padding: 0 8px 0 18px;
				}
			}
			.photo img {
                position: relative;
                width: 250px;
                left: 50px;
            }
			.content {
                //@include red;
                position: absolute;
                top: 37px;
                width: 836px;
                left: 274px;
                display: table;
				margin-left: 50px;
				color: #000;
				line-height: 36px;
				font-size: 14px;
				//text-indent: 28px;
			}
            .img-wrap {
                position: relative;
                margin: 0 auto;
                margin-bottom: 36px;
                padding: 45px;
                background-color: #f6f6f6;
                width: 1010px;
                .description {
                    margin-top: -28px;
                    margin-left: 2px;
                    margin-bottom: 8px;
                    color: #000;
                    font-size: 15px;
                    line-height: 30px;
                }
                .img {
                    float: left;
                    display: inline-block;
                    //max-width: 858px;
                    margin-left: 2px;
                    margin-top: 2px;
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                     img {
                         margin-left: -80px;
                         margin-top: -28px;
                         &:hover {
                             -webkit-opacity: .5;
                             -moz-opacity: .5;
                             -ms-opacity: .5;
                             -o-opacity: .5;
                             opacity: .5;
                         }
                     }
                }
            }
		}
	}
}

// 按钮样式二
#activity, #love {
	.top-img {
		.buttons {
//			@include red;
			width:300px!important;
			margin-left: -150px!important;
			bottom: 120px;
			span {
//				display: inline-block;
				position: relative;
				width: 149.5px;
				height: 40px;
				line-height: 40px;
				background-color: rgba(0,0,0,.4);
				color: #fff;
			}
			span.active,
			span:hover {
//				@include red;
				background-color: #fff!important;
				color: #000;
				height: 40px;
				top: 1px;
//				margin-top: 1px;
//				z-index: 99;
//				border-bottom: 2px #fff solid;
			}
		}
	}
}
